/**
 * 16.0 - Classic layout
 *
 * Style for classic layout of archive pages with thumbnail left and text right
 *
 * -----------------------------------------------------------------------------
 */
.thumb-text {
	article {
		overflow: hidden;
		border-radius: 0;
		background: none;
		box-shadow: none;
		position: relative;

		.entry-media,
		.entry-text {
			width: 48%;
		}
	}


	.entry-media {
		background: #ccc;
		float: left;
		height: auto;
		display: block;

		img {
			border-radius: 0;
			max-height: 270px;
		}
	}

	.entry-text {
		float: right;
		padding: 0;
	}
	.entry-meta {
		padding-bottom: 10px;
	}
	.entry-title {
		font-size: 1.333em;
	}
	.entry-content {
		font-size: .9em;
	}
	.more-link {
		text-align: right;
	}
}
