/**
 * 10.0 - Comments
 *
 * -----------------------------------------------------------------------------
 */
.comments {
	margin-top: 5%;
	font-size: .9em;
}
li.comment,
li > div.comment {
	margin-bottom: 25px;
	position: relative;
}
li > div.comment {
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}
.commentlist,
.commentlist ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.commentlist > li:first-child > div.comment:first-child {
	border-top: 1px solid #eee;
	padding-top: 25px;
}
.comment .children {
	padding-left: 70px;
}
.comment .children li:last-child {
	margin-bottom: 0;
}
.commentlist > li.comment:last-child,
.commentlist > li.comment div.comment:last-child {
	margin-bottom: 0;
}
/* Pingback list --------------------------------------- */

.comments .pingbacks {
	margin-top: 5.5%;
}
.pingbacks-inner {
	margin: 0 auto;
}
.pingbacks-title {
	margin-bottom: 20px;
}
.pingbacklist li {
	padding: .5em;
	line-height: 130%;
}
.pingbacklist a:hover {
	text-decoration: underline;
}
.pingbacklist li:nth-child(odd) {
	background: #f9f9f9;
}
.pingbacklist .comment-edit-link {
	color: #999;
}
.pingbacklist .comment-edit-link:hover {
	color: #444;
	text-decoration: none;
}
/* Comment meta --------------------------------------- */

.comment-meta {
	margin-bottom: 1em;
}
.comment-meta .avatar {
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 999px;
	float: left;
}
.comment-actions {
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}
.comment-actions a {
	margin-left: 8px;
}
.comment-actions a:first-child {
	margin-left: 0;
}
.comment-meta-content {
	margin-left: 70px;
	padding-top: 5px;
	cite {
		font-size: 1.075em;
		color: #444;
		display: block;
		font-weight: 700;
		line-height: 1;
		font-style: normal;
	}
	p {
		font-size: .65em;
		text-transform: uppercase;
		margin: 0;

		a {
			color: #bbb;
		}
	}
}
.bypostauthor .post-author {
	font-weight: 400;
	color: #999;
	margin-left: 3px;
	letter-spacing: 0;
}
.comment-awaiting-moderation {
	position: absolute;
	right: 0;
	top: 4px;
	font-weight: bold;
	display: block;
	padding: 10px;
	background: #ccc;
	border-radius: 3px;
	font-size: .8rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.comment-content {
	margin-left: 70px;
}
// Respond
#respond {
	margin-top: 10%;
}
.nocomments {
	margin-top: 10%;
	color: #666;
	text-align: center;
}
#cancel-comment-reply-link {
	margin-left: 10px;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.comment-form .submit {
	padding: 1.2em 1.4em;
}
.commentlist .comment-respond {
	padding-bottom: 1.5em;
}
@media (max-width: 479px) {
	.comment-author .avatar {
		display: none;
	}
	.comment-meta-content,
	.comment-content {
		margin: 0;
		padding: 0;
	}
	.comment .children {
		padding-left: 30px;
	}
}
