.downloads {

	p {
		margin: 0
	}

	img {
		max-height: 141px;
	}

	.hentry {
		box-shadow: none;
	}
}
.download {
	background: #90a3b5;
	color: #fff;
	display: inline-block;
	margin-top: 1%;
	padding-right: 5px;
	transition: all 0.3s;

	.icon {
		background: #1f2d3a;
		padding: 10px;
		display: inline-block;
		color: #fff;
		margin-right: 5px;
		transition: all 0.3s;
		border: 1px solid #1f2d3a;


		&.icon_small{
			padding: 7px;

		}
	}

	&:hover {
		color: rgba(204, 204, 204, 0.64);
		text-decoration: none;

		.icon {
			background: #4c4c4c;
			border: 1px solid #4c4c4c;
		}
	}
}

.download__item {
	.entry-text {
		padding: 0;
		margin-left: 115px;

		h4 {
			margin: 0 0 4px;
		}
	}
}

.download__item_small {
	margin:5% 0 0;

	img {
		width: 80px;
		max-height: 95px;
	}

	.entry-text {
		margin-left: 90px;
		font-size: 0.9rem;
		padding: 0;

		p {
			margin: 0;
		}

		h5 {
			margin: 0 0 5px;
		}
	}

}
.accordion {
	overflow: hidden;
	box-sizing: border-box;
	background: #f7f7f7;

	.accordion-section {
		margin-bottom: 0;
	}

	.accordion-section-title {
		width: 100%;
		padding: 15px;
		margin-top:0;
		display: inline-block;
		background: #1f2d3a;
		transition: all linear 0.15s;
		font-size: 1.2em;
		color: #fff;

		.icon {
			padding-right: 10px;
		}
	}

	ul.download_list {
		padding: 10px;
		margin-top: 0px;
		li {
			list-style: none;
			padding:0;
			margin: 2% 0 5%;
			border-top: 0;
			border-bottom: 1px solid #1f2d3a;
		}

		.download {
			background: none;
			color:#131313;
		}



		span {
			font-size: 1em;
			font-family: 'Open Sans Condensed', sans-serif;
			color: #41535d;
			text-transform: uppercase;
		}
	}
}

.download__item, .download__item_small {
	.wp-editor & {
		margin-bottom: 5%;
	}
}

