/**
 * Editor style
 * -----------------------------------------------------------------------------
 */
/**
 * 1.0 - Normalize
 *
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 *
 * -----------------------------------------------------------------------------
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/**
 * 3.0 - Grid system
 *
 * -----------------------------------------------------------------------------
 */
.row,
.grid {
  margin-left: -2.5%;
  margin-right: -2.5%;
}
.row:before,
.grid:before,
.row:after,
.grid:after {
  content: " ";
  display: table;
}
.row:after,
.grid:after {
  clear: both;
}
.row.collapse,
.grid.collapse {
  margin-left: 0;
  margin-right: 0;
}
.column {
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 100%;
}
.collapse .column {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 480px) {
  .one-half,
  .one-third,
  .two-third,
  .one-fourth,
  .two-fourth,
  .three-fourth,
  .one-fifth,
  .two-fifth,
  .three-fifth,
  .four-fifth {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .one-third {
    width: 33.33333333%;
  }
  .two-third {
    width: 66.66666667%;
  }
  .one-fourth {
    width: 25%;
  }
  .three-fourth {
    width: 75%;
  }
  .one-fifth {
    width: 20%;
  }
  .two-fifth {
    width: 40%;
  }
  .three-fifth {
    width: 60%;
  }
  .four-fifth {
    width: 80%;
  }
}
.grid .column {
  margin-bottom: 5%;
}
@media (min-width: 480px) {
  .grid .column:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 768px) {
  .grid .column:nth-child(2n+1) {
    clear: none;
  }
  .grid .column.one-half:nth-child(2n+1) {
    clear: left;
  }
  .grid .column.one-third:nth-child(3n+1) {
    clear: left;
  }
  .grid .column.one-fourth:nth-child(4n+1) {
    clear: left;
  }
  .grid .column.one-fifth:nth-child(5n+1) {
    clear: left;
  }
}
.grid.collapse .column {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
/**
 * 5.0 - General HTML elements and classes
 *
 * -----------------------------------------------------------------------------
 */
* {
  box-sizing: border-box;
}
html,
body {
  color: #666;
  font: 15px/1.6 Roboto, serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.2;
  margin: 1.333em 0 .5em;
  color: #41535d;
  text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #41535d;
}
h1 {
  font-size: 3.157em;
  letter-spacing: -0.04em;
}
h2 {
  font-size: 2.369em;
  letter-spacing: -0.04em;
}
h3 {
  font-size: 1.777em;
}
h4 {
  font-size: 1.333em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .75em;
  text-transform: uppercase;
}
blockquote {
  padding: 1em 1.5em;
  line-height: 150%;
  color: #666;
  background: #f0f0f0;
  border-left: 8px solid #E67E22;
  margin: 3em 0;
  font-style: italic;
}
blockquote p:last-child {
  margin: 0;
}
blockquote cite {
  display: block;
  margin-top: .5em;
  font-size: .7em;
}
blockquote cite:before {
  content: '\2014';
  margin-right: .5em;
}
a {
  color: #41535d;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
textarea,
select {
  padding: .7em 1.2em;
  font-size: .85em;
  border: 0;
  background: #f2f2f2;
  border-radius: 3px;
  transition: all .3s;
}
input:active,
textarea:active,
select:active,
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}
select {
  border: 1px solid #ddd;
  padding: .6em .8em;
}
textarea {
  width: 100%;
}
code,
kbd,
samp {
  font-size: .85em;
  color: #E67E22;
}
pre {
  line-height: 1.4;
  padding: .7em 1.2em;
  background: #333;
  font-size: .85em;
  color: #eee;
}
pre code {
  color: #eee;
}
table {
  font-size: .9em;
  width: 100%;
  margin: 1em 0;
}
tr {
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background: #f3f3f3;
}
th,
td {
  padding: .5em;
  line-height: 1.4;
}
caption {
  color: #444;
  text-align: center;
  padding: 2%;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li ul,
li ol {
  margin-bottom: 0;
}
li {
  line-height: 1.9;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
.button-minimal {
  padding: 1.2em 1.4em;
  margin: 0;
  border: 3px solid transparent;
  background: #E67E22;
  color: #fff;
  font-size: .8rem;
  line-height: 1;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all .2s;
  display: inline-block;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover,
.button-minimal:hover {
  background: #bd671c;
  color: #fff;
  text-decoration: none;
}
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.button:focus,
.button-minimal:focus,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active,
.button-minimal:active {
  outline: none;
}
.button-minimal {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.button-minimal:hover {
  border-color: #fff;
  background: #fff;
  color: #41535d;
  text-decoration: none;
}
u,
.underline {
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
big,
.highlight {
  font-size: 1.2em;
  color: #7e7e7e;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
.container {
  width: 1170px;
  max-width: 91.40625%;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: transform .5s;
  background: #fff;
}
.content {
  width: 65%;
}
.content.center {
  margin-left: auto;
  margin-right: auto;
}
.sidebar-left .content {
  float: right;
}
.sidebar-left .sidebar {
  float: left;
}
.sidebar-right .content {
  float: left;
}
.sidebar-right .sidebar {
  float: right;
}
.no-sidebar .content,
.page-template-wide .content,
.page-template-download .content {
  width: 100%;
}
.thumb-circle img {
  border-radius: 50%;
  border: 7px solid #fff;
}
.thumb-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thumb-icon img {
  width: 140px;
  height: 140px;
}
/**
 * 9.0 - Entry
 *
 * Style for post, page (entry)
 *
 * -----------------------------------------------------------------------------
 */
.hentry {
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 10%;
  border-radius: 4px 4px 0 0;
}
.hentry:last-child {
  margin-bottom: 0;
}
.entry-text {
  padding: 8% 10%;
}
.entry-media + .entry-text {
  padding-top: 6%;
}
.entry-header {
  padding-bottom: 4%;
}
.entry-title {
  margin: 0;
}
.entry-meta {
  color: #999;
  text-align: left;
}
.entry-date {
  text-align: left;
}
.header .entry-meta {
  font-size: .85em;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
.header .entry-meta.no-avatar {
  margin-top: 10px;
}
.header .entry-meta img {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}
.header .entry-meta a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}
.header .entry-date {
  display: inline-block;
}
.header .comments-link {
  margin-left: 5px;
}
.entry-content a:hover,
.widget a:hover {
  text-decoration: underline;
}
.entry-content p:first-child,
.entry-summary p:first-child {
  margin-top: 0;
}
.entry-content p:last-child,
.entry-summary p:last-child {
  margin-bottom: 0;
}
.more-link {
  font-weight: bold;
}
.more-link:hover {
  text-decoration: underline;
}
.entry-content hr {
  width: 50%;
  height: 4px;
  background: #eee;
  margin: 2em auto;
  border: 0;
}
.wp-caption {
  max-width: 100%;
}
.wp-caption a,
.wp-caption img {
  display: block;
}
.alignleft,
.alignright {
  margin-bottom: 1.2em;
  max-width: 40%;
}
.wp-caption .alignleft,
.wp-caption .alignright {
  margin-bottom: 0;
}
.alignleft {
  float: left;
  margin-right: 1em;
}
.alignright {
  float: right;
  margin-left: 1em;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.wp-caption-text,
.gallery-caption {
  font-size: .8em;
  color: #888;
  text-align: center;
}
.gallery-caption {
  font-size: .8em;
}
.format-aside .entry-content {
  padding: 8% 10%;
}
.format-quote .entry-content {
  background: #262626;
  border-radius: 4px;
  padding: 8% 10%;
}
.format-quote blockquote {
  background: none;
  color: #fff;
  padding: 0;
  font-size: 1.25em;
  margin-bottom: 0;
  text-align: center;
  border: 0;
}
.format-quote a {
  color: rgba(255, 255, 255, 0.75);
}
body.single .content > article,
body.page .content > article {
  background: transparent;
  box-shadow: none;
}
body.single .content > article .entry-content,
body.page .content > article .entry-content {
  padding: 0;
}
body.single .content > article.format-quote .entry-content,
body.page .content > article.format-quote .entry-content {
  padding: 8% 10%;
}
body.single .hero.entry-header h1,
body.page .hero.entry-header h1 {
  text-transform: uppercase;
}
body.single .entry-content > p:first-child,
body.page .entry-content > p:first-child {
  font-size: 1.2em;
  color: #7e7e7e;
  line-height: 1.4;
  margin-bottom: 2em;
}
body.single .entry-title,
body.page .entry-title {
  text-align: left;
  text-transform: none;
}
body.single .format-aside .entry-content,
body.page .format-aside .entry-content {
  padding-top: 0;
}
.entry-media {
  position: relative;
}
.entry-media img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.entry-media iframe {
  display: block;
  border: none;
  width: 100%;
  height: auto;
}
.entry-media .sticky-post {
  position: absolute;
  top: 5%;
  right: 0;
  padding: 8px 10px;
  border-radius: 3px 0 0 3px;
  background: #1abc9c;
  color: #fff;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
}
.entry-media:before,
.entry-media:after {
  transform: scale(0.1);
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
}
.entry-media:before {
  width: 30px;
  height: 1px;
  margin-left: -15px;
}
.entry-media:after {
  width: 1px;
  height: 30px;
  margin-top: -15px;
}
.entry-media:hover:before,
.entry-media:hover:after {
  opacity: 1;
  transform: scale(1);
}
.entry-media a {
  position: relative;
  display: block;
}
.entry-media a:before {
  transition: opacity 0.3s;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: #000;
}
.entry-media a:hover:before {
  opacity: 0.4;
}
.entry-media.rotate a:before {
  border-radius: 50%;
}
.media-caption-container {
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  bottom: 1.5em;
  text-align: center;
  font-size: .85em;
}
.media-caption {
  display: inline-block;
  padding: 7px 11px;
  border-radius: 3px;
  background: #262626;
  background: rgba(38, 38, 38, 0.75);
  color: #fff;
  text-align: center;
  line-height: 130%;
}
.media-caption:hover {
  background: #262626;
  color: #fff;
}
.entry-footer {
  margin-top: 5%;
}
/**
 * 20.0 - Front page
 *
 * -----------------------------------------------------------------------------
 */
.section {
  margin-bottom: 5%;
}
.section h2 {
  font-size: 3.5em;
  text-align: center;
  display: inherit;
}
.section h2 span {
  font-size: 2rem;
  color: #E67E22;
}
.section h2 + p {
  text-align: center;
  font-size: 1.2em;
  color: #7e7e7e;
}
.section--dark {
  background-color: #2c383f;
  margin-top: 10%;
  color: rgba(255, 255, 255, 0.4);
}
.section--dark h2 + p {
  color: rgba(255, 255, 255, 0.4);
}
.section--dark h2,
.section--dark h3,
.section--dark a {
  color: #fff;
}
.section__content {
  margin-top: 3em;
}
.number {
  color: #E67E22;
}
.page-template-front-page .footer {
  margin-top: 0;
}
.page-template-front-page .hero h1,
.page-template-front-page .hero h2,
.page-template-front-page .hero p {
  max-width: 50%;
}
/**
 * Section services
 *---------------------------------------------------------------------------
 */
.services__items {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 433px;
  height: 433px;
  max-width: 100%;
}
.page-template-front-page .services__items {
  margin-top: 7em;
}
.services__item {
  width: 433px;
  max-width: 100%;
  position: absolute;
  top: 146.5px;
  left: 363px;
  transform-origin: -146.5px center;
}
.services__item__content {
  width: 100%;
  height: 140px;
  transform-origin: 70px 70px;
}
.services__item__image {
  width: 140px;
  height: 140px;
  border: 7px solid #fff;
  border-radius: 50%;
  float: left;
}
.services__item__description {
  float: right;
  width: 283px;
  max-width: 100%;
}
.services__item__description h3 {
  margin: 10px 0;
}
.services__item__description p {
  margin: 0;
}
.services__item--right {
  left: -363px;
  transform-origin: 579.5px center;
}
.services__item--right .services__item__image {
  float: right;
}
.services__item--right .services__item__description {
  float: left;
  text-align: right;
}
.services__item--right .services__item__content {
  transform-origin: 363px 70px;
}
.services__item--1 {
  transform: rotate(-60deg);
}
.services__item--1 .services__item__content {
  transform: rotate(60deg);
}
.services__item--3 {
  transform: rotate(60deg);
}
.services__item--3 .services__item__content {
  transform: rotate(-60deg);
}
.services__item--4 {
  transform: rotate(-60deg);
}
.services__item--4 .services__item__content {
  transform: rotate(60deg);
}
.services__item--6 {
  transform: rotate(60deg);
}
.services__item--6 .services__item__content {
  transform: rotate(-60deg);
}
/**
 * Section welcome
 *---------------------------------------------------------------------------
 */
.welcome {
  padding-top: 1%;
}
.welcome .button-minimal {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.4);
}
.welcome .button-minimal:hover {
  border-color: #fff;
  background: #fff;
  color: #41535d;
  text-decoration: none;
}
/**
 * Section content
 *---------------------------------------------------------------------------
 */
.section.content {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px 0;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 9;
  width: 100%;
}
.section.content h2,
.section.content h3 {
  color: #fff;
  font-size: 1.3333em;
  text-align: left;
  line-height: 54px;
  margin: 0;
  float: left;
}
.section.content p {
  margin: 0;
}
.section.content .button,
.section.content .button-minimal {
  font-size: 1rem;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 1em;
  float: right;
}
/**
 * Section product
 *---------------------------------------------------------------------------
 */
.products a,
.products img {
  display: block;
}
/**
 * Section call to action
 *---------------------------------------------------------------------------
 */
.call-to-action {
  padding: 3% 0;
  line-height: 2.72;
}
.call-to-action h3 {
  margin: 0;
  display: inline;
  line-height: 1.53006694;
}
/**
 * Section news
 *---------------------------------------------------------------------------
 */
.news__thumb {
  display: block;
}
.news__thumb img {
  display: block;
  width: 100%;
  max-height: 200px;
}
.news__arrow {
  opacity: 0;
  position: relative;
  left: -15px;
  transition: all .3s;
}
.news h3:hover .news__arrow {
  opacity: 1;
  left: 5px;
}
.news__item {
  margin-bottom: 2em;
}
.news__item .entry-media {
  width: 80px;
  height: 80px;
}
.news__item .entry-media img {
  width: 80px;
  height: 80px;
  border-radius: 2px;
}
.news__item .entry-text {
  padding: 0;
  margin-left: 90px;
}
.news__item .entry-text h4 {
  margin: 5px 0 10px;
}
.news__item .entry-text p {
  line-height: 1.2;
  margin: 0;
}
/**
 * Section projects
 *---------------------------------------------------------------------------
 */
.projects {
  padding: 1% 0 5%;
}
.projects .grid .column {
  margin-bottom: 4%;
  padding-left: 1%;
  padding-right: 1%;
}
.projects .entry-media {
  min-height: 175px;
}
.projects h3 {
  font-size: 1.333em;
}
.projects h3 a {
  color: #ccc;
}
.projects .entry-text .entry-content p:first-child {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 0 1em;
}
.projects .projects__location,
.projects .projects__price {
  margin: 0;
}
.projects .icon {
  padding-right: 5px;
}
/**
 * Section clients
 *---------------------------------------------------------------------------
 */
.page-template-front-page .clients .container {
  overflow: hidden;
}
/**
 * Custom styles for services
 *
 * -----------------------------------------------------------------------------
 */
.services-1 {
  background-color: #1f2d3a;
  color: #90a3b5;
  padding: 5% 50%;
  text-align: center;
  margin: 5% -50%;
}
.services-1 h3,
.services-2 h3 {
  color: #fff;
}
.services-1 img,
.services-2 img {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.services-2 {
  margin: 5% 0;
  text-align: center;
}
.services-2 .column {
  background-color: #1f2d3a;
  color: #90a3b5;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 2.5%;
  margin-bottom: 0;
  transition: all 1s ease .2s;
}
.services-2 .column:hover {
  transform: scale(1.12);
  z-index: 1000;
  background: #08c;
  color: #fff;
  border: 0;
}
.services-3 {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: #1f2d3a;
  color: #90a3b5;
}
.services-3 h2 {
  color: #fff;
  margin-top: 0;
}
.downloads p {
  margin: 0;
}
.downloads img {
  max-height: 141px;
}
.downloads .hentry {
  box-shadow: none;
}
.download {
  background: #90a3b5;
  color: #fff;
  display: inline-block;
  margin-top: 1%;
  padding-right: 5px;
  transition: all 0.3s;
}
.download .icon {
  background: #1f2d3a;
  padding: 10px;
  display: inline-block;
  color: #fff;
  margin-right: 5px;
  transition: all 0.3s;
  border: 1px solid #1f2d3a;
}
.download .icon.icon_small {
  padding: 7px;
}
.download:hover {
  color: rgba(204, 204, 204, 0.64);
  text-decoration: none;
}
.download:hover .icon {
  background: #4c4c4c;
  border: 1px solid #4c4c4c;
}
.download__item .entry-text {
  padding: 0;
  margin-left: 115px;
}
.download__item .entry-text h4 {
  margin: 0 0 4px;
}
.download__item_small {
  margin: 5% 0 0;
}
.download__item_small img {
  width: 80px;
  max-height: 95px;
}
.download__item_small .entry-text {
  margin-left: 90px;
  font-size: 0.9rem;
  padding: 0;
}
.download__item_small .entry-text p {
  margin: 0;
}
.download__item_small .entry-text h5 {
  margin: 0 0 5px;
}
.accordion {
  overflow: hidden;
  box-sizing: border-box;
  background: #f7f7f7;
}
.accordion .accordion-section {
  margin-bottom: 0;
}
.accordion .accordion-section-title {
  width: 100%;
  padding: 15px;
  margin-top: 0;
  display: inline-block;
  background: #1f2d3a;
  transition: all linear 0.15s;
  font-size: 1.2em;
  color: #fff;
}
.accordion .accordion-section-title .icon {
  padding-right: 10px;
}
.accordion ul.download_list {
  padding: 10px;
  margin-top: 0px;
}
.accordion ul.download_list li {
  list-style: none;
  padding: 0;
  margin: 2% 0 5%;
  border-top: 0;
  border-bottom: 1px solid #1f2d3a;
}
.accordion ul.download_list .download {
  background: none;
  color: #131313;
}
.accordion ul.download_list span {
  font-size: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #41535d;
  text-transform: uppercase;
}
.wp-editor .download__item,
.wp-editor .download__item_small {
  margin-bottom: 5%;
}
/**
 * Fixes
 */
.content {
  width: 100%;
}
.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg {
  display: block !important;
}
