/**
 * Editor style
 * -----------------------------------------------------------------------------
 */
// Libraries
@import 'libs/normalize';
@import 'libs/grid-system';
// Theme
@import 'general';
@import 'entry';
@import 'front-page';
@import 'service';
@import 'downloads';
/**
 * Fixes
 */
.content {
	width: 100%;
}
.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg {
	display: block !important;
}
