/**
 * 9.0 - Entry
 *
 * Style for post, page (entry)
 *
 * -----------------------------------------------------------------------------
 */
.hentry {
	background: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, .08);
	margin-bottom: 10%;
	border-radius: 4px 4px 0 0;

	&:last-child {
		margin-bottom: 0;
	}
}
.entry-text {
	padding: 8% 10%;
}
.entry-media + .entry-text {
	padding-top: 6%;
}
// Entry header
.entry-header {
	padding-bottom: 4%;
}
.entry-title {
	margin: 0;
}
// Entry meta
.entry-meta {
	color: #999;
	text-align: left;
}
.entry-date {
	text-align: left;
}
// Entry meta in the hero area
.header {
	.entry-meta {
		font-size: .85em;
		color: rgba(255, 255, 255, .6);
		margin: 0;

		&.no-avatar {
			margin-top: 10px;
		}

		img {
			border-radius: 50%;
			vertical-align: middle;
			margin-right: 5px;
			width: 32px;
			height: 32px;
		}
		a {
			color: rgba(255, 255, 255, .8);
			font-weight: 700;
		}
	}
	.entry-date {
		display: inline-block;
	}
	.comments-link {
		margin-left: 5px;
	}
}
// Entry content
.entry-content,
.widget {
	a:hover {
		text-decoration: underline;
	}
}
.entry-content,
.entry-summary {
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.more-link {
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}
.entry-content hr {
	width: 50%;
	height: 4px;
	background: #eee;
	margin: 2em auto;
	border: 0;
}
// Post media
.wp-caption {
	max-width: 100%;
}
.wp-caption a,
.wp-caption img {
	display: block;
}
.alignleft,
.alignright {
	margin-bottom: 1.2em;
	max-width: 40%;
}
.wp-caption .alignleft,
.wp-caption .alignright {
	margin-bottom: 0;
}
.alignleft {
	float: left;
	margin-right: 1em;
}
.alignright {
	float: right;
	margin-left: 1em;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.wp-caption-text,
.gallery-caption {
	font-size: .8em;
	color: #888;
	text-align: center;
}
.gallery-caption {
	font-size: .8em;
}
// Post format aside
.format-aside .entry-content {
	padding: 8% 10%;
}
// Post format quote
.format-quote {
	.entry-content {
		background: #262626;
		border-radius: 4px;
		padding: 8% 10%;
	}
	blockquote {
		background: none;
		color: #fff;
		padding: 0;
		font-size: 1.25em;
		margin-bottom: 0;
		text-align: center;
		border: 0;
	}
	a {
		color: rgba(255, 255, 255, .75);
	}
}
// Single post, page
body.single,
body.page {
	// No card style on single post/page
	.content > article {
		background: transparent;
		box-shadow: none;

		.entry-content {
			padding: 0;
		}

		&.format-quote .entry-content {
			padding: 8% 10%;
		}
	}

	.hero.entry-header {
		h1 {
			text-transform: uppercase;
		}
	}

	.entry-content > p:first-child {
		font-size: 1.2em;
		color: #7e7e7e;
		line-height: 1.4;
		margin-bottom: 2em;
	}

	.entry-title {
		text-align: left;
		text-transform: none;
	}

	// Post format aside
	.format-aside .entry-content {
		padding-top: 0;
	}
}
// Entry media
.entry-media {
	position: relative;

	img {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
	iframe {
		display: block;
		border: none;
		width: 100%;
		height: auto;
	}
	.sticky-post {
		position: absolute;
		top: 5%;
		right: 0;
		padding: 8px 10px;
		border-radius: 3px 0 0 3px;
		background: #1abc9c;
		color: #fff;
		font-size: .7em;
		text-transform: uppercase;
		letter-spacing: 1px;
		z-index: 2;
	}

	&:before, &:after {
		transform: scale(0.1);
		transition: 0.5s;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		opacity: 0;
		background-color: #fff;
	}

	&:before {
		width: 30px;
		height: 1px;
		margin-left: -15px;
	}

	&:after {
		width: 1px;
		height: 30px;
		margin-top: -15px;

	}

	&:hover {
		&:before, &:after {
			opacity: 1;
			transform: scale(1);
		}
	}

	a {
		position: relative;
		display: block;

		&:before {
			transition: opacity 0.3s;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			background: #000;

		}

		&:hover {
			&:before {
				opacity: 0.4;
			}
		}
	}

	&.rotate {
		a:before {
			border-radius: 50%;
		}
	}
}
.media-caption-container {
	position: absolute;
	width: 95%;
	margin-left: 2.5%;
	bottom: 1.5em;
	text-align: center;
	font-size: .85em;
}
.media-caption {
	display: inline-block;
	padding: 7px 11px;
	border-radius: 3px;
	background: #262626;
	background: rgba(38, 38, 38, .75);
	color: #fff;
	text-align: center;
	line-height: 130%;
}
.media-caption:hover {
	background: #262626;
	color: #fff;
}
// Tags
.entry-footer {
	margin-top: 5%;
}
