/**
 * 14.0 - Footer
 *
 * -----------------------------------------------------------------------------
 */
.footer {
	font-size: .9rem;
	margin-top: 7.5%;
	color: rgba(255, 255, 255, .6);
	background: darken(@link-color, 15%);

	.widget {
		margin-bottom: 0;
	}
	.widget-title {
		color: rgba(255, 255, 255, .8);
	}

	li {
		border: none;
		padding: 5px 0;
		border-bottom: 1px solid rgba(255, 255, 255, .05);

		&:before {
			content: "\e92a";
			font: .7em Entypo;
			margin-right: 6px;
			color: rgba(255, 255, 255, .4);
		}
		li:first-child {
			margin: 0;
		}
	}
	a {
		color: rgba(255, 255, 255, .8);
		font-weight: 400;
	}
	.tagcloud a {
		background-color: rgba(255, 255, 255, .1);
	}
	tr {
		border-color: rgba(255, 255, 255, .1);
	}
	address br {
		border-top: 1px solid rgba(255, 255, 255, .05);
		display: block;
		content: '';
		margin: 5px 0;
	}
	.icon {
		vertical-align: middle;
	}

	/**
	 * Social links
	 * -----------------------------------------------------------------------------
	 */
	.social-links {
		li {
			border: 0;
			&:before {
				display: none;
			}
		}
		a {
			color: rgba(255, 255, 255, .4);

			&:hover {
				color: #fff;
			}
		}
	}
	/**
	 * Form elements
	 * -----------------------------------------------------------------------------
	 */
	input,
	textarea,
	select {
		background: rgba(255, 255, 255, .1);

		&:hover,
		&:focus {
			background: rgba(255, 255, 255, .2);
		}
	}
	// Footer button
	button,
	input[type="submit"],
	.button {
		padding: .7em 1em;
		background: rgba(255, 255, 255, .1);

		&:hover,
		&:focus {
			background: rgba(255, 255, 255, .2);
		}
	}
	.widget {
		textarea {
			height: 6em;
		}
		label {
			font-size: .9em;
		}
	}
}
/**
 * Footer widgets
 * -----------------------------------------------------------------------------
 */
.footer-widgets {
	padding: 3.5em 0;
}
/**
 * Credit text
 * -----------------------------------------------------------------------------
 */
.credits {
	background: rgba(0, 0, 0, .6);
	padding: 1.5em 0;
}
