/**
 * 20.0 - Front page
 *
 * -----------------------------------------------------------------------------
 */
.section {
	margin-bottom: 5%;

	h2 {
		font-size: 3.5em;
		text-align: center;
		display: inherit;

		span {
			font-size: 2rem;
			color: @highlight-color;
		}
	}
	h2 + p {
		text-align: center;
		.highlight;
	}
}
.section--dark {
	background-color: darken(@link-color, 10%);
	margin-top: 10%;
	color: rgba(255, 255, 255, .4);

	h2 + p {
		color: rgba(255, 255, 255, .4);
	}

	h2,
	h3,
	a {
		color: #fff;
	}
}
.section__content {
	margin-top: 3em;
}
.number {
	color: @highlight-color;
}
.page-template-front-page {
	// Footer
	.footer {
		margin-top: 0;
	}
	.hero {
		h1,
		h2,
		p {
			max-width: 50%;
		}
	}
}
/**
 * Section services
 *---------------------------------------------------------------------------
 */
@size: 433px;
@image: 140px;
.services__items {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: @size;
	height: @size;
	max-width: 100%;
}
.page-template-front-page .services__items {
	margin-top: 7em;
}
.services__item {
	width: @size;
	max-width: 100%;

	// Move all item into the center right position, then rotate them according to their positions
	position: absolute;
	top: @size / 2 - @image / 2;
	left: @size - @image / 2;

	// Transform origin is the center of big image
	transform-origin: (-(@size / 2 - @image / 2)) center;
}
.services__item__content {
	width: 100%;
	height: @image;

	// Transform origin of item content is the center of item image
	transform-origin: (@image / 2) (@image / 2);
}
.services__item__image {
	width: @image;
	height: @image;
	border: 7px solid #fff;
	border-radius: 50%;
	float: left;
}
.services__item__description {
	float: right;
	width: @size - @image - 10px;
	max-width: 100%;

	h3 {
		margin: 10px 0;
	}
	p {
		margin: 0;
	}
}
// Item with thumbnail right
.services__item--right {
	// Move all item into the center left position, then rotate them according to their positions
	left: -@size + @image / 2;

	// Transform origin is the center of big image
	transform-origin: (@size - @image / 2 + @size / 2) center;

	.services__item__image {
		float: right;
	}
	.services__item__description {
		float: left;
		text-align: right;
	}
	.services__item__content {
		// Transform origin of item content is the center of item image
		transform-origin: (@size - @image / 2) (@image / 2);
	}
}
// Rotate items
.services__item--1 {
	transform: rotate(-60deg);
	.services__item__content {
		transform: rotate(60deg);
	}
}
.services__item--3 {
	transform: rotate(60deg);
	.services__item__content {
		transform: rotate(-60deg);
	}
}
.services__item--4 {
	transform: rotate(-60deg);
	.services__item__content {
		transform: rotate(60deg);
	}
}
.services__item--6 {
	transform: rotate(60deg);
	.services__item__content {
		transform: rotate(-60deg);
	}
}
/**
 * Section welcome
 *---------------------------------------------------------------------------
 */
.welcome {
	padding-top: 1%;

	.button-minimal {
		border-color: rgba(255, 255, 255, .2);
		color: rgba(255, 255, 255, .4);

		&:hover {
			border-color: #fff;
			background: #fff;
			color: @link-color;
			text-decoration: none;
		}
	}
}
/**
 * Section content
 *---------------------------------------------------------------------------
 */
.section.content {
	background: rgba(0, 0, 0, .6);
	padding: 30px 0;
	color: rgba(255, 255, 255, .6);
	position: relative;
	z-index: 9;
	width: 100%;

	h2,
	h3 {
		color: #fff;
		font-size: 1.3333em;
		text-align: left;
		line-height: 54px; // Button height
		margin: 0;
		float: left;
	}
	p {
		margin: 0;
	}

	.button,
	.button-minimal {
		font-size: 1rem;
		padding-left: 2em;
		padding-right: 2em;
		margin-left: 1em;
		float: right;
	}
}
/**
 * Section product
 *---------------------------------------------------------------------------
 */
.products {
	a,
	img {
		display: block;
	}
}
/**
 * Section call to action
 *---------------------------------------------------------------------------
 */
.call-to-action {
	padding: 3% 0;
	line-height: 2.72; // [padding (1.2em * 2) + text (1em)] * font-size (0.8rem)

	h3 {
		margin: 0;
		display: inline;
		line-height: 2.72/1.7777;
	}
}
/**
 * Section news
 *---------------------------------------------------------------------------
 */
.news__thumb {
	display: block;

	img {
		display: block;
		width: 100%;
		max-height: 200px;
	}
}
.news__arrow {
	opacity: 0;
	position: relative;
	left: -15px;
	transition: all .3s;
}
.news h3:hover .news__arrow {
	//transform: translate3d(10px, 0, 0);
	opacity: 1;
	left: 5px;
}
.news__item {
	margin-bottom: 2em;

	.entry-media {
		width: 80px;
		height: 80px;

		img {
			width: 80px;
			height: 80px;
			border-radius: 2px;
		}
	}

	.entry-text {
		padding: 0;
		margin-left: 90px;

		h4 {
			margin: 5px 0 10px
		}
		p {
			line-height: 1.2;
			margin: 0;
		}
	}
}
/**
 * Section projects
 *---------------------------------------------------------------------------
 */
.projects {
	padding: 1% 0 5%;

	.grid .column {
		margin-bottom: 4%;
		padding-left: 1%;
		padding-right: 1%;
	}
	.entry-media {
		min-height: 175px;
	}

	h3 {
		font-size: 1.333em;

		a {
			color: #ccc;
		}
	}

	.entry-text .entry-content p:first-child {
		color: rgba(255, 255, 255, .4);
		margin: 0 0 1em;
	}
	.projects__location,
	.projects__price {
		margin: 0;
	}
	.icon {
		padding-right: 5px;
	}
}

/**
 * Section clients
 *---------------------------------------------------------------------------
 */
.page-template-front-page .clients .container {
	overflow: hidden;
}