/**
 * 5.0 - General HTML elements and classes
 *
 * -----------------------------------------------------------------------------
 */
@link-color: #41535d;
@button-color: #E67E22;
@highlight-color: #E67E22;

* {
	box-sizing: border-box;
}
html,
body {
	color: #666;
	font: 15px/1.6 Roboto, serif;
	-webkit-font-smoothing: antialiased;
}
// Font size scale
// @link http://type-scale.com/?size=16&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Montserrat&font-family=Montserrat&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 1.2;
	margin: 1.333em 0 .5em;
	color: @link-color;
	text-transform: uppercase;

	a {
		color: @link-color;
	}
}
h1 {
	font-size: 3.157em;
	letter-spacing: -.04em;
}
h2 {
	font-size: 2.369em;
	letter-spacing: -.04em;
}
h3 {
	font-size: 1.777em;
}
h4 {
	font-size: 1.333em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: .75em;
	text-transform: uppercase;
}
blockquote {
	padding: 1em 1.5em;
	line-height: 150%;
	color: #666;
	background: #f0f0f0;
	border-left: 8px solid @button-color;
	margin: 3em 0;
	font-style: italic;

	p:last-child {
		margin: 0;
	}
	cite {
		display: block;
		margin-top: .5em;
		font-size: .7em;

		&:before {
			content: '\2014';
			margin-right: .5em;
		}
	}
}
a {
	color: @link-color;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
input,
textarea,
select {
	padding: .7em 1.2em;
	font-size: .85em;
	border: 0;
	background: #f2f2f2;
	border-radius: 3px;
	transition: all .3s;

	&:active,
	&:focus {
		outline: 0;
	}
}
select {
	border: 1px solid #ddd;
	padding: .6em .8em;
}
textarea {
	width: 100%;
}
code, kbd, samp {
	font-size: .85em;
	color: @highlight-color;
}
pre {
	line-height: 1.4;
	padding: .7em 1.2em;
	background: #333;
	font-size: .85em;
	color: #eee;

	code {
		color: #eee;
	}
}
table {
	font-size: .9em;
	width: 100%;
	margin: 1em 0;
}
tr {
	border-bottom: 1px solid #ddd;

	&:nth-child(even) {
		background: #f3f3f3;
	}
}
th,
td {
	padding: .5em;
	line-height: 1.4;
}
caption {
	color: #444;
	text-align: center;
	padding: 2%;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li ul,
li ol {
	margin-bottom: 0;
}
li {
	line-height: 1.9;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
.button-minimal {
	padding: 1.2em 1.4em;
	margin: 0;
	border: 3px solid transparent;
	background: @button-color;
	color: #fff;
	font-size: .8rem;
	line-height: 1;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	transition: all .2s;
	display: inline-block;

	&:hover {
		background: shade(@button-color, 18%);
		color: #fff;
		text-decoration: none;
	}
	&:focus,
	&:active {
		outline: none;
	}
}
.button-minimal {
	background: transparent;
	border-color: #fff;
	color: #fff;

	&:hover {
		border-color: #fff;
		background: #fff;
		color: @link-color;
		text-decoration: none;
	}
}
// Helper class for text
u, .underline {
	border-bottom: 1px solid #ddd;
	text-decoration: none;
}
big, .highlight {
	font-size: 1.2em;
	color: #7e7e7e;
}
// Clearfix
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
// Screen reader text
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	clip: auto !important;
	display: block;
	height: auto;
	left: 5px;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.container {
	width: 1170px;
	max-width: 1170 / 1280 * 100%;
	margin: 0 auto;
}
.wrapper {
	overflow: hidden;
	position: relative;
	z-index: 2;
	transition: transform .5s;
	background: #fff;
}
.content {
	width: 65%;
}
.content.center {
	margin-left: auto;
	margin-right: auto;
}

.sidebar-left {
	.content {
		float: right;
	}
	.sidebar {
		float: left;
	}
}

.sidebar-right {
	.content {
		float: left;
	}
	.sidebar {
		float: right;
	}
}

.no-sidebar, .page-template-wide, .page-template-download {
	.content {
		width: 100%;
	}
}


.thumb-circle img {
	border-radius: 50%;
	border: 7px solid #fff;
}
.thumb-center img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.thumb-icon img {
	width: 140px;
	height: 140px;
}
