/**
 * 6.0 - Header
 *
 * -----------------------------------------------------------------------------
 */
.header-top {
	background: #f0f0f0;
	color: #999;
	font-size: .8em;
	text-align: right;
	position: relative;
	height: 2rem;
	line-height: 2rem;

	a {
		color: #999;
	}

	&:before {
		position: absolute;
		content: '';
		background-color: #fff;
		left: 0;
		top: 0;
		height: 100%;
		width: 55%;
		transform: skew(45deg);
		margin-left: -15px;
	}
}
/**
 * Brand
 * -----------------------------------------------------------------------------
 */
.brand {
	text-transform: uppercase;
	color: @link-color;
	height: 96px;

	// Style logo vertically
	// @link https://css-tricks.com/centering-in-the-unknown/
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		max-height: 66px;
		max-width: none;
		margin-right: 15px;
	}
}
.brand_title,
.brand_tagline {
	display: block;
	line-height: 1;
}
.brand_title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.8rem;
	padding: 5px 0 15px;
}
.brand_tagline {
	font-family: Roboto, sans-serif;
	font-size: 1rem;
	color: #888;
	text-transform: none;
}
/**
 * Hero image and slider
 * -----------------------------------------------------------------------------
 */
.hero {
	position: relative;
	z-index: 2;
	color: #fff;

	h1,
	h2,
	p {
		margin-top: 10px;
		margin-bottom: 0;
		padding: 10px 0;
		color: #fff;
	}
	h1 {
		font-size: 4em;
	}
	.subheading {
		background: rgba(0, 0, 0, 0.2);
		color: #ddd;
		font-size: 1rem;
		display: inline-block;
		border-radius: 3px;
		padding: 10px 15px;
		float: left;
		clear: left;
	}

	/* Custom styles */
	.block {
		background: #fff;
		color: @link-color;
		padding-left: 15px;
		padding-right: 15px;
		display: inline-block;
		float: left;
		clear: left;
	}
	.block + p {
		clear: left;
	}
	h1.block {
		font-size: 3em;
	}
	p.block {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.center {
		max-width: 75%;
		text-align: center;
		margin: 0 auto;
	}
	h1.center {
		margin-top: 5%;
	}

	/* Form */
	form {
		background: #fff;
		padding: 15px;
		color: @link-color;
		font-size: .9rem;

		br {
			display: none;
		}
		textarea {
			height: 8em;
		}
	}
	input[type="text"],
	input[type="email"],
	textarea,
	select {
		background: #ddd;
		width: 100% !important;
		max-width: none !important;
		box-sizing: border-box;

		&:focus {
			background: #e6e6e6;
		}
	}

	&.entry-header {
		background: url('http://i.imgur.com/XOkucw0.jpg') no-repeat fixed center center;
		min-height: 200px;
		background-size: cover;
		position: relative;
		padding-top: 5%;
		margin-bottom: 5%;

		.entry-title {
			color: #fff;
		}

		h3 {
			color: rgba(255, 255, 255, 0.4);
			font: 300 1rem Lato, sans-serif;
			line-height: 1.5;
			margin-bottom: 40px;
			text-transform: none;
		}

		form {
			background: none;
			padding: inherit;
			font-size: inherit;
		}
	}
}
/**
 * Slider
 * -----------------------------------------------------------------------------
 */
.slide img {
	display: block;
	width: 100%;
}
.slide__content {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 20%;
}
.owl-prev, .owl-next {
	position: absolute;
	top: 40%;

	&:hover {
		color: #ccc;
	}
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}

/**
 * Header widgets
 * -----------------------------------------------------------------------------
 */
.header-widgets {
	margin-top: 25px;

	.widget {
		float: left;
		margin-left: 40px;
		margin-bottom: 0;

		&:first-child {
			margin-left: 0;
		}
	}
}
/**
 * Contact info widget
 *---------------------------------------------------------------------------
 */
.contact-info__icon {
	width: 1em;
	height: 1em;
	text-align: right;
	line-height: 1em;
	color: @link-color;
	margin-left: 30px;
}
.contact-info__text {
	border-left: 1px solid rgba(65, 83, 93, .3);
	padding-left: 8px;
	margin-left: 8px;
	text-align: left;
}
.contact-info__title {
	font-weight: bold;
	display: block;
}
/**
 * Breadcrumbs
 *------------------------------------------------------------------------
 */
.breadcrumbs {
	text-transform: uppercase;
	text-align: left;
	font: .8em 'Open Sans Condensed', sans-serif;
	display: block;
	span {
		display: inline-block;
		padding-right: 2px;
	}

	a {
		color: #fff;
		transition: all 0.3s;

		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
}
