/**
 * 8.0 - Menu
 *
 * -----------------------------------------------------------------------------
 */
@top-color: @link-color;
@top-color-hover: #000;
@sub-color: @top-color;
@sub-color-hover: #333;

// Nav bar
.navbar {
	clear: both;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 3px;
	text-align: center;
	margin-bottom: -37.5px;
	z-index: 9;
	position: relative;
}
// Main menu
.main-menu {
	a {
		display: block;
		padding: 30px;
	}

	// Top level menu
	> ul > li {
		display: inline-block;

		// Active status on hover and selected
		&:hover > a,
		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: @top-color-hover;
		}

		// Dropdown icon
		&.menu-item-has-children > a,
		&.page_item_has_children > a {
			&::after {
				content: "";
				display: block;
				border: 5px solid transparent;
				border-top-color: @top-color;
				position: absolute;
				z-index: 1001;
				right: 17px;
				top: 50%;
				margin-top: -2px;
			}
			&:hover::after,
			&:hover::after {
				border-top-color: @top-color-hover;
			}
		}
	}

	// Submenu
	li {
		position: relative;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 1px;

		// Add more padding for dropdown icon (both top level menu and submenu)
		&.menu-item-has-children > a,
		&.page_item_has_children > a {
			padding-right: 35px;
		}

		// Dropdown 2nd level
		ul {
			position: absolute;
			left: 0;
			top: 90%;
			opacity: 0;
			visibility: hidden;
			z-index: 999;
			transition: all .2s;
			margin: -3px 0 0;
			box-shadow: 0 5px 12px rgba(0, 0, 0, .2);
			text-align: left;
			border-top: 3px solid @link-color;
		}
		&:hover > ul {
			opacity: 1;
			top: 100%;
			visibility: visible;
		}

		// Dropdown 3-rd, 4th, ... level submenu
		ul ul {
			left: 100%;
			top: 50%;
		}
		ul li:hover > ul {
			top: 0;
			left: 100%;
		}

		li {
			width: 200px;
			font-size: .8rem;
			background: #fff;
			line-height: 1.3;

			// Separator
			border-bottom: 1px solid rgba(0, 0, 0, .1);
			&:last-child {
				border-bottom: none;
			}

			// Active status on hover and selected
			&:hover > a,
			&.current-menu-item > a,
			&.current-menu-ancestor > a {
				color: @sub-color-hover;
			}

			// Dropdown icon
			&.menu-item-has-children > a,
			&.page_item_has_children > a {
				&::after {
					content: "";
					display: block;
					border: 5px solid transparent;
					border-left-color: @sub-color;
					position: absolute;
					z-index: 1001;
					right: 10px;
					top: 50%;
					margin-top: -7px;
				}
				&:hover::after {
					border-left-color: @sub-color-hover;
				}
			}

			a {
				padding: 1em 1.3em;
				color: @sub-color;

				&:hover {
					background: #f6f6f6;
				}
			}
		}
	}
}
// Toggle icon for hamburger menu
.menu-toggle {
	position: absolute;
	display: none;
	height: 96px;
	padding: 0;
	top:0;
	right: 0;
	border: 0;
	background: transparent;

	&:active, &:focus, &:hover {
		border: 0;
		background: transparent;
	}

	.icon {
		background: #2f5d76;
		border-radius: 5px;
		padding: 5px;
	}



	span {
		display: none;
	}
}
// Mobile menu
.mobile-menu {
	width: 240px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: auto;

	background: #282828;

	a {
		display: block;
		padding: 15px 20px;
		border-bottom: 1px solid rgba(255, 255, 255, .05);
		text-transform: uppercase;
		letter-spacing: 1px;
		color: rgba(255, 255, 255, .4);
		font-size: 13px;
		background: #282828;
	}
	a:hover,
	.current-menu-item > a {
		color: #fff;
	}
	ul ul a {
		padding-left: 40px;
		font-size: 12px;
		background: #303030;
	}
	ul ul ul a {
		padding-left: 60px;
		font-size: 11px;
		background: #363636;
	}
	ul ul ul ul a {
		padding-left: 60px;
		font-size: 10px;
		background: #424242;
	}

	// Move mobile menu down if user is logged in due to admin bar
	.admin-bar & {
		top: 32px;

		@media (max-width: 782px) {
			top: 46px;
		}
		@media (max-width: 600px) {
			top: 0;
		}
	}
}
.mobile-menu-open {
	.wrapper {
		transform: translate3d(-240px, 0, 0);
		cursor: pointer;
	}
}
