/**
 * 11.0 - Pagination
 *
 * -----------------------------------------------------------------------------
 */

// Common style for post and comment navigation
.navigation {
	margin-top: 1em;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
	padding: 1em 0;
	overflow: hidden;
	clear: both;

	a {
		display: block;
		color: #666;

		.post-title {
			transition: color .2s;
			font-weight: 700;
		}
		&:hover .post-title {
			color: @link-color;
		}
	}
	.meta-nav {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: .7em;
		color: #999;
		margin-bottom: 7px;
		font-weight: 700;
		display: block;
	}
	.nav-previous {
		float: left;
		max-width: 49%;
	}
	.nav-next {
		float: right;
		text-align: right;
		max-width: 49%;
	}
}
// Comment navigation
.comment-navigation {
	margin-top: 5%;
	border-top: 4px solid #eee;
	padding-top: 5%;
	font-size: 0.85em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;

	a {
		display: inline-block;
	}
}
// Posts navigation
.page-title {
	margin-bottom: 7.5%;
	text-align: center;
}
.page-title h4 {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 1px;
	font-weight: 700;
	color: #999;
	padding-bottom: 5px;
	border-bottom: 2px solid #eee;
}
.pagination {
	a,
	span {
		display: inline-block;
		background: #262626;
		padding: 10px 18px;
		color: #fff;
		font-size: .85em;
		border-radius: 4px;
		transition: all .3s;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.current,
	a:hover {
		background: @button-color;
		color: #fff;
	}
}
