/**
 * 19.0 - Responsive
 *
 * -----------------------------------------------------------------------------
 */
@media (max-width: 1199px) {
	// Section content
	.section.content {
		background: #000;

		.button,
		.button-minimal {
			float: none;
			margin: 0 0 10px;
		}
		h3 {
			margin-bottom: 1em;
			float: none;
			text-align: center;
			line-height: 1.2;
		}
		p {
			text-align: center;
		}
	}
}

@media (max-width: 991px) {
	.footer .flickr_badge_image img {
		min-height: 50px;
	}

	// Services section on the homepage
	.services__items {
		height: auto;
		margin-top: 3em;
		background: none !important;
	}

	.services__item,
	.services__item .services__item__content {
		transform: none;
	}

	.services__item {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 1em;
	}

	// Logo
	.brand {
		width: 100%;
		&.left, .left {
			float: none;
		}

		img {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
	}

	//  Header widget
	.header-widgets {
		margin-bottom: 25px;
		width: 100%;
		float: none;
		text-align: center;


		.widget {
			float: none;
			display: inline-block;
			margin-left: 0;
		}
	}

	// Navigation
	.main-menu {
		a {
			padding: 30px 10px;
		}
	}

	// Hero slider
	.hero {
		font-size: 13px;
		h1,
		h1.block {
			font-size: 2.369em;
		}
		h1,
		h2,
		p {
			max-width: none;
			padding: 0;
			margin-bottom: 10px;

			&.center {
				margin-bottom: 10px;
			}
		}
		.block,
		.subheading {
			padding: 5px 10px;
		}
		p.block {
			padding: 5px 10px;
		}
	}

	.owl-controls {
		display: none !important;
	}
}

@media (max-width: 769px) {
	// Structure
	.content,
	.sidebar {
		width: 100%;
		float: none;
	}

	.sidebar {
		margin-top: 40px;
	}

	.brand img,.header-widgets .widget, .contact-info__icon {
		margin-left: 0px;
	}

	// Logo
	.brand img {
		max-width: 100%;
		height: auto;
	}

	// Height widget
	.header-widgets .widget {
		width: 100%;
		padding: 10px 0px;
		border-bottom:1px solid #ccc;
	}
	.header-widgets .widget:first-child {
		border-top:1px solid #ccc;
	}

	.brand {
		border: 1px solid transparent;
	}
	// Navigation
	.main-menu,.navbar {
		display: none;
	}
	.header .container {
		position: relative;
	}
	// Toggle icon for hamburger menu
	.menu-toggle {
		display: block;
	}

	.footer-widgets .column {
		margin-top: 10px;
		min-height: 200px;
	}

	.credits .left,
	.credits .right {
		float: none;
		max-width: 100%;
		text-align: center;
	}

	// Hero
	.hero {
		font-size: 11px;

		form {
			display: none;
		}
	}
	.downloads {
		.two-third, .one-third {
			width: 100%;
		}
	}
}

@media (max-width: 481px) {

	.thumb-text {
		.entry-media,
		.entry-text {
			width: 100%;
			min-height: 70px;
		}
	}

	// Post content
	.alignleft,
	.alignright {
		float: none;
		max-width: 100%;
		margin: 0 auto 1.2em auto;
	}

	.alignleft img,
	.alignright img {
		display: block;
		margin: 1em auto;
	}

	.footer-widgets div.column {
		margin-top: 40px;
		min-height: 0;
	}

	.footer .flickr_badge_image img {
		min-height: 60px;
	}

	// Services section on the homepage
	.services__item {
		.services__item__content,
		.services__item__image,
		.services__item__description {
			float: none;
			text-align: center;
		}
	}

	.services__item__content {
		height: auto;
	}

	.services__item__description {
		width: 100%;
	}

	// Hero
	.hero {
		p,
		p.block {
			display: none;
		}
	}

	.brand img {
		max-width: 70%;
	}
	.menu-toggle .icon {
		font-size: 2em;
	}

	.downloads {
		.entry-text,.download__item_small .entry-text {
			margin-left: 0;
		}
		img {
			display: none;
		}

		.download__item {
			padding-bottom: 5%;
			border-bottom: 1px solid #90a3b5;
		}
	}
}
