/**
 * Custom styles for services
 *
 * -----------------------------------------------------------------------------
 */
.services-1 {
	background-color: #1f2d3a;
	color: #90a3b5;
	padding: 5% 50%;
	text-align: center;
	margin: 5% -50%;

	h3 {
		color: #fff;
	}
	img {
		border: 5px solid #fff;
		border-radius: 50%;
		width: 140px;
		height: 140px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.services-2 {
	margin: 5% 0;
	text-align: center;

	h3:extend(.services-1 h3) {
	}
	img:extend(.services-1 img) {
	}

	.column {
		background-color: #1f2d3a;
		color: #90a3b5;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 2.5%;
		margin-bottom: 0;
		transition: all 1s ease .2s;

		&:hover {
			transform: scale(1.12);
			z-index: 1000;
			background: #08c;
			color: #fff;
			border: 0;
		}
	}
}
.services-3 {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	background-color: #1f2d3a;
	color: #90a3b5;

	h2 {
		color: #fff;
		margin-top: 0;
	}
}
