/**
 * 13.0 - Sidebar
 *
 * -----------------------------------------------------------------------------
 */
.sidebar {
	width: 30%;
	font-size: .9em;
}
.widget {
	margin-bottom: 20%;
	line-height: 1.4;
	overflow: hidden;

	*:last-child {
		margin-bottom: 0;
	}
	a:hover {
		text-decoration: underline;
	}
	p {
		line-height: 1.5;
		margin-bottom: 1em;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 10px 0;
		border-top: 1px solid #e6e6e6;
	}
	li ul > li:first-child {
		margin-top: 10px;
	}
	.page_item_has_children {
		padding-bottom: 0;
	}
	li li {
		padding-left: 15px;
	}
	li .post-date {
		margin-left: 5px;
		color: #999;
	}
	> ul > li:first-child {
		border-top: 0;
	}
}
.widget:last-child {
	padding-bottom: 0;
	border-bottom: 0;
	margin-bottom: 0;
}
.widget-title {
	text-transform: uppercase;
}
// Search form
.searchform {
	position: relative;
	padding-bottom: 1px;
}
#s {
	padding: 1em 8em 1em 1.5em;
	background: #fff;
	border: 1px solid #ddd;
	border-right: none;
	border-radius: 3px;
	color: #444;
	width: 100%;
	box-sizing: border-box;

	&:focus {
		background: #eee;
	}
}
#searchsubmit {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	border: 0;
	border-radius: 0 3px 3px 0;
	box-sizing: border-box;
}
// Widget calendar
#wp-calendar {
	caption,
	td,
	th {
		text-align: center;
		padding: 4% 2%;
	}
	tr {
		background: none;
	}
	#prev {
		text-align: left;
	}
	#next {
		text-align: right;
	}
	tfoot a {
		display: block;
	}
}
/* Widget tag cloud --------------------------------------- */
.post-tags a,
.tagcloud a {
	position: relative;
	font-size: .81rem !important;
	color: #fff;
	display: inline-block;
	padding: 8px 11px;
	line-height: 1;
	margin-bottom: 5px;
	margin-right: 5px;
	background: rgba(0, 0, 0, .3);
	border-radius: 3px;
	transition: background .3s;

	&:hover {
		background: @button-color;
		color: #fff;
		text-decoration: none;
	}
}
/* Widget Flickr --------------------------------------- */
.flickr_badge_image {
	width: 32%;
	margin-bottom: 2%;
	margin-left: 2%;
	overflow: hidden;
	float: left;
	line-height: 0;
}
#flickr_badge_image1,
#flickr_badge_image4,
#flickr_badge_image7,
#flickr_badge_image10,
#flickr_badge_image13,
#flickr_badge_image16,
#flickr_badge_image19,
#flickr_badge_image22,
#flickr_badge_image25 {
	margin-left: 0;
}
.flickr_badge_image img {
	display: block;
	height: 70px;
}
.widgetmore a {
	display: block;
	clear: both;
	padding: .5em 0;
}
.footer .flickr_badge_image img {
	height: 50px;
}
/* Widget Dribbble --------------------------------------- */

.dribbble-shot {
	display: block;
	width: 48%;
	margin-bottom: 2%;
	margin-right: 2%;
	overflow: hidden;
	float: left;
	line-height: 0;
}
.dribbble-shot:nth-child(2n) {
	margin-right: 0;
}
.dribbble-shot img {
	display: block;
}
/* Widget Posts --------------------------------------- */
.induspress_posts_widget {

	.entry-text {
		padding: 0;
		width: 100%;
	}

	li {
		overflow: hidden;
		padding: 15px 0;
	}

	.has-thumbnail {
		.entry-media {
			padding: 0;
			width: 64px;
			margin-right: 10px;
			img {
				display: block;
				border-radius: 2px;
				width: 64px;
				height: 50px;
			}
		}
		.entry-text {
			padding: 0;
			font-size: 0.8rem;
			width: auto;
			float: none;
			display: inline-block;

			.entry-title {
				margin: 2px 0 7px 0;
			}
			.entry-date {
				text-transform: none;
			}
		}

	}
}
.induspress_video_widget {
	iframe {
		width: 100%;
		min-height: 250px;
		height: auto;
	}
}
