/**
 * 12.0 - Social Buttons
 *
 * -----------------------------------------------------------------------------
 */
.social-buttons {
	display: block;

	a {
		display: inline-block;
		margin-right: 8px;
		padding:5px 10px;
		border-radius: 2px;
		font-size: 12px;
		text-decoration: none;
		transition: all 0.3s;
		color: #fff;
	}
	i {
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
	}
	.facebook{
		background: #3b5998;

		&:hover {
			background: #2d4373;
		}
	}
	.twitter {
		background: #55acee;

		&:hover {
			background: #2795e9;
		}
	}
	.googleplus {
		background: #dd4b39;

		&:hover {
			background: #c23321;
		}
	}
}
