/**
 * 7.0 - Topbar
 *
 * -----------------------------------------------------------------------------
 */

@topbar-color: #999;

.topbar {
	color: @topbar-color;
	font-size: 0.7rem;
	min-height: 2.5rem;
	border-bottom: 1px solid #f0f0f0;

	a {
		color: @topbar-color;
	}

	.textwidget, a {
		line-height: 2.5rem;
	}

	.widget {
		overflow: inherit;
	}

	.menu {
		li {
			position: relative;

			.sub-menu {
				min-width: 150px;
				padding: 0;
				background: #fff;
				border-radius: 0;
				position: absolute;
				left: -1px;
				top: 110%;
				opacity: 0;
				visibility: hidden;
				z-index: 999;
				transition: all .2s;
				margin: -1px 0 0;
				text-align: left;
				border: 1px solid rgba(0, 0, 0, .1);

				li {
					border-bottom: 1px solid rgba(0, 0, 0, .1);
					border-top: 0;
					padding-top: 0;
					padding-bottom: 0;
					&:last-child {
						border-bottom: none;
					}

					a {
						color: @topbar-color;
					}

					&:hover a {
						color: #131313;
					}
				}

				& > li:first-child {
					margin-top: 0;
				}
			}

			a {
				text-decoration: none;
				display: block;
			}

			&:hover, &:active, &:focus {
				a {
					color: #131313;
				}

				> ul {
					opacity: 1;
					top: 100%;
					visibility: visible;
				}
			}
		}

		& > li {
			border-top: 0;
			padding: 0 15px;
			float: left;
			position: relative;
			display: block;

			// Dropdown icon
			&.menu-item-has-children > a,
			&.page_item_has_children > a {
				&::after {
					content: "";
					display: block;
					border: 4px solid transparent;
					border-top-color: @topbar-color;
					position: absolute;
					z-index: 1001;
					right: 5px;
					top: 50%;
					margin-top: -2px;
				}
				&:hover::after,
				&:hover::after {
					border-top-color: @topbar-color;
				}
			}
		}
	}
}
.social-links {
	.clearfix;

	&,
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li {
		display: inline-block;

		a {
			font: normal normal normal 2em/1 Entypo;
			display: inline-block;
			text-align: center;
			transition: color .5s;
			text-decoration: none;

			span {
				display: none;
			}
			&:before {
				line-height: 2rem;
			}
			&:hover, &:active {
				text-decoration: none;
			}
		}
	}

	a[href*="facebook.com"]:before {
		&:extend(.icon-facebook-with-circle:before);
	}
	a[href*="twitter.com"]:before {
		&:extend(.icon-twitter-with-circle:before);
	}
	a[href*="google.com"]:before {
		&:extend(.icon-google-with-circle:before);
	}
	a[href*="linkedin.com"]:before {
		&:extend(.icon-linkedin-with-circle:before);
	}
	a[href*="instagram.com"]:before {
		&:extend(.icon-instagram-with-circle:before);
	}
	a[href*="youtube.com"]:before {
		&:extend(.icon-youtube-with-circle:before);
	}
	a[href*="flickr.com"]:before {
		&:extend(.icon-flickr-with-circle:before);
	}
	a[href*="pinterest.com"]:before {
		&:extend(.icon-pinterest-with-circle:before);
	}
	a[href*="github.com"]:before {
		&:extend(.icon-github-with-circle:before);
	}
	a[href*="vimeo.com"]:before {
		&:extend(.icon-vimeo-with-circle:before);
	}
	a[href*="dribbble.com"]:before {
		&:extend(.icon-dribbble-with-circle:before);
	}
	a[href*="tumblr.com"]:before {
		&:extend(.icon-tumblr-with-circle:before);
	}
	a[href*="skype.com"]:before {
		&:extend(.icon-skype-with-circle:before);
	}
	a[href*="stumbleupon.com"]:before {
		&:extend(.icon-stumbleupon-with-circle:before);
	}

	// In topbar
	.topbar & {
		text-align: right;

		li {
			border-right: 1px solid rgba(255, 255, 255, .1);
			&:first-child {
				border-left: 1px solid rgba(255, 255, 255, .1);
			}
		}
	}
}
