.induspress-widget-icon {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 180px;
	overflow: auto;
	margin-top: 5px;
	border-radius: 4px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 10px 0 4px 10px;
}
.induspress-widget-icon__label {
	display: inline-block;
	margin: 0 5px 5px 0;
	border: 1px solid #dadada;
	background: #fff;
	border-radius: 3px;
	padding: 6px;
	font-size: 18px;
	width: 18px;
	text-align: center;
	line-height: 18px;
}
.induspress-widget-icon__label:hover,
.induspress-widget-icon__label.active,
.induspress-widget-icon__input:checked + .induspress-widget-icon__label {
	border-color: rgba(0, 0, 0, 0.1);
	color: white;
	background: #3c0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.induspress-widget-icon .induspress-widget-icon__input {
	display: none;
}
