.induspress-widget-image {
	display: block;
}
.induspress-widget-image__image {
	width: 66px;
	height: 66px;
	display: block;
	margin-top: 5px;
}
.induspress-widget-image__image.hidden {
	display: none;
}
