/*
Theme Name: IndusPress
Version: 1.0.0
Theme URI: http://gretathemes.com/wordpress-themes/induspress/
Description: WordPress theme for industrial and engineering companies, corporations.
Author: Greta Themes
Author URI: http://gretathemes.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, white, cyan, two-columns, fluid-layout, responsive-layout, custom-header, custom-menu, featured-images, flexible-header, post-formats, sticky-post, threaded-comments, translation-ready, editor-style
Text Domain: induspress
*/
/**
 * Table of Contents:
 *
 * 1.0 - Normalize
 * 2.0 - Font Awesome
 * 3.0 - Grid system
 * 4.0 - Animation
 * 5.0 - General HTML elements and classes
 * 6.0 - Header
 * 7.0 - Topbar
 * 8.0 - Menu
 * 9.0 - Entry
 * 10.0 - Comments
 * 11.0 - Pagination
 * 12.0 - Social Buttons
 * 13.0 - Sidebar
 * 14.0 - Footer
 * 16.0 - Classic layout
 * 19.0 - Responsive
 * 20.0 - Front page
 * -----------------------------------------------------------------------------
 */
/**
 * 1.0 - Normalize
 *
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 *
 * -----------------------------------------------------------------------------
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/**
 * 3.0 - Grid system
 *
 * -----------------------------------------------------------------------------
 */
.row,
.grid {
  margin-left: -2.5%;
  margin-right: -2.5%;
}
.row:before,
.grid:before,
.row:after,
.grid:after {
  content: " ";
  display: table;
}
.row:after,
.grid:after {
  clear: both;
}
.row.collapse,
.grid.collapse {
  margin-left: 0;
  margin-right: 0;
}
.column {
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 100%;
}
.collapse .column {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 480px) {
  .one-half,
  .one-third,
  .two-third,
  .one-fourth,
  .two-fourth,
  .three-fourth,
  .one-fifth,
  .two-fifth,
  .three-fifth,
  .four-fifth {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .one-third {
    width: 33.33333333%;
  }
  .two-third {
    width: 66.66666667%;
  }
  .one-fourth {
    width: 25%;
  }
  .three-fourth {
    width: 75%;
  }
  .one-fifth {
    width: 20%;
  }
  .two-fifth {
    width: 40%;
  }
  .three-fifth {
    width: 60%;
  }
  .four-fifth {
    width: 80%;
  }
}
.grid .column {
  margin-bottom: 5%;
}
@media (min-width: 480px) {
  .grid .column:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 768px) {
  .grid .column:nth-child(2n+1) {
    clear: none;
  }
  .grid .column.one-half:nth-child(2n+1) {
    clear: left;
  }
  .grid .column.one-third:nth-child(3n+1) {
    clear: left;
  }
  .grid .column.one-fourth:nth-child(4n+1) {
    clear: left;
  }
  .grid .column.one-fifth:nth-child(5n+1) {
    clear: left;
  }
}
.grid.collapse .column {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
/**
 * 4.0 - Animation
 *
 * Library of animation CSS classes for hero area
 *
 * -----------------------------------------------------------------------------
 */
/****** fadeIn *******/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
/****** fadeInDown *******/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
/****** fadeInRight *******/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/****** fadeInLeft *******/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp,
.fadeInDown,
.fadeInLeft,
.fadeInRight {
  position: relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.active .fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
.active .fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
.active .fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}
.active .fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}
.social-links a[href*="skype.com"]:before {
  content: "\ea54";
}
.social-links a[href*="dribbble.com"]:before {
  content: "\ea64";
}
.social-links a[href*="facebook.com"]:before {
  content: "\ea66";
}
.social-links a[href*="flickr.com"]:before {
  content: "\ea68";
}
.social-links a[href*="github.com"]:before {
  content: "\ea6a";
}
.social-links a[href*="google.com"]:before {
  content: "\ea6c";
}
.social-links a[href*="instagram.com"]:before {
  content: "\ea6e";
}
.social-links a[href*="linkedin.com"]:before {
  content: "\ea72";
}
.social-links a[href*="pinterest.com"]:before {
  content: "\ea74";
}
.social-links a[href*="stumbleupon.com"]:before {
  content: "\ea77";
}
.social-links a[href*="tumblr.com"]:before {
  content: "\ea79";
}
.social-links a[href*="twitter.com"]:before {
  content: "\ea7b";
}
.social-links a[href*="vimeo.com"]:before {
  content: "\ea7d";
}
.social-links a[href*="youtube.com"]:before {
  content: "\ea7f";
}
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
  opacity: 1;
}
#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#baguetteBox-overlay .full-image figure {
  display: inline-block;
  margin: 0;
  max-width: 90%;
  height: 90%;
}
#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  transition: left 0.4s ease, -webkit-transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight 0.4s ease-out;
          animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft 0.4s ease-out;
          animation: bounceFromLeft 0.4s ease-out;
}
@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  font: normal normal 1.6em 'entypo';
  text-transform: none;
  line-height: 1;
  background: none;
  border: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.baguetteBox-button:hover {
  background: none;
  border: none;
}
.baguetteBox-button#next-button,
.baguetteBox-button#previous-button {
  top: 50%;
  padding: 0;
  background: #fff;
  height: 70px;
  border-radius: 0;
  color: #131313;
}
.baguetteBox-button#next-button svg,
.baguetteBox-button#previous-button svg {
  display: none;
}
.baguetteBox-button#next-button {
  position: fixed;
  right: 0;
}
.baguetteBox-button#next-button:before {
  content: "\e92a";
}
.baguetteBox-button#previous-button {
  left: 0;
}
.baguetteBox-button#previous-button:before {
  content: "\e929";
}
.baguetteBox-button#close-button {
  position: fixed;
  top: 0;
  right: 0;
}
/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/**
 * Cleaner Gallery Stylesheet
 * @version 20130526
 */
.gallery {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}
.gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0;
}
.gallery-item {
  overflow: hidden;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  border: none;
  background: transparent;
  box-sizing: border-box;
}
.gallery-icon {
  margin: 5% 2%;
}
.gallery-icon a {
  display: block;
}
.gallery-icon img {
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}
.gallery-caption {
  margin-left: 0;
  box-sizing: border-box;
}
/* Gallery item sizes depending on the number of columns */
.gallery-col-0 .gallery-item {
  width: 100%;
}
.gallery-col-1 .gallery-item {
  width: 100%;
}
.gallery-col-2 .gallery-item {
  width: 50%;
}
.gallery-col-3 .gallery-item {
  width: 33.33%;
}
.gallery-col-4 .gallery-item {
  width: 25%;
}
.gallery-col-5 .gallery-item {
  width: 20%;
}
.gallery-col-6 .gallery-item {
  width: 16.66%;
}
.gallery-col-7 .gallery-item {
  width: 14.28%;
}
.gallery-col-8 .gallery-item {
  width: 12.5%;
}
.gallery-col-9 .gallery-item {
  width: 11.11%;
}
.gallery-col-10 .gallery-item {
  width: 10%;
}
.gallery-col-11 .gallery-item {
  width: 9.09%;
}
.gallery-col-12 .gallery-item {
  width: 8.33%;
}
.gallery-col-13 .gallery-item {
  width: 7.69%;
}
.gallery-col-14 .gallery-item {
  width: 7.14%;
}
.gallery-col-15 .gallery-item {
  width: 6.66%;
}
.gallery-col-16 .gallery-item {
  width: 6.25%;
}
.gallery-col-17 .gallery-item {
  width: 5.88%;
}
.gallery-col-18 .gallery-item {
  width: 5.55%;
}
.gallery-col-19 .gallery-item {
  width: 5.26%;
}
.gallery-col-20 .gallery-item {
  width: 5%;
}
.gallery-col-21 .gallery-item {
  width: 4.76%;
}
.gallery-col-22 .gallery-item {
  width: 4.54%;
}
.gallery-col-23 .gallery-item {
  width: 4.34%;
}
.gallery-col-24 .gallery-item {
  width: 4.16%;
}
.gallery-col-25 .gallery-item {
  width: 4%;
}
.gallery-col-26 .gallery-item {
  width: 3.84%;
}
.gallery-col-27 .gallery-item {
  width: 3.7%;
}
.gallery-col-28 .gallery-item {
  width: 3.57%;
}
.gallery-col-29 .gallery-item {
  width: 3.44%;
}
.gallery-col-30 .gallery-item {
  width: 3.33%;
}
/**
 * 5.0 - General HTML elements and classes
 *
 * -----------------------------------------------------------------------------
 */
* {
  box-sizing: border-box;
}
html,
body {
  color: #666;
  font: 15px/1.6 Roboto, serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.2;
  margin: 1.333em 0 .5em;
  color: #41535d;
  text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #41535d;
}
h1 {
  font-size: 3.157em;
  letter-spacing: -0.04em;
}
h2 {
  font-size: 2.369em;
  letter-spacing: -0.04em;
}
h3 {
  font-size: 1.777em;
}
h4 {
  font-size: 1.333em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .75em;
  text-transform: uppercase;
}
blockquote {
  padding: 1em 1.5em;
  line-height: 150%;
  color: #666;
  background: #f0f0f0;
  border-left: 8px solid #E67E22;
  margin: 3em 0;
  font-style: italic;
}
blockquote p:last-child {
  margin: 0;
}
blockquote cite {
  display: block;
  margin-top: .5em;
  font-size: .7em;
}
blockquote cite:before {
  content: '\2014';
  margin-right: .5em;
}
a {
  color: #41535d;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
textarea,
select {
  padding: .7em 1.2em;
  font-size: .85em;
  border: 0;
  background: #f2f2f2;
  border-radius: 3px;
  transition: all .3s;
}
input:active,
textarea:active,
select:active,
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}
select {
  border: 1px solid #ddd;
  padding: .6em .8em;
}
textarea {
  width: 100%;
}
code,
kbd,
samp {
  font-size: .85em;
  color: #E67E22;
}
pre {
  line-height: 1.4;
  padding: .7em 1.2em;
  background: #333;
  font-size: .85em;
  color: #eee;
}
pre code {
  color: #eee;
}
table {
  font-size: .9em;
  width: 100%;
  margin: 1em 0;
}
tr {
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background: #f3f3f3;
}
th,
td {
  padding: .5em;
  line-height: 1.4;
}
caption {
  color: #444;
  text-align: center;
  padding: 2%;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li ul,
li ol {
  margin-bottom: 0;
}
li {
  line-height: 1.9;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
.button-minimal {
  padding: 1.2em 1.4em;
  margin: 0;
  border: 3px solid transparent;
  background: #E67E22;
  color: #fff;
  font-size: .8rem;
  line-height: 1;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all .2s;
  display: inline-block;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover,
.button-minimal:hover {
  background: #bd671c;
  color: #fff;
  text-decoration: none;
}
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.button:focus,
.button-minimal:focus,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active,
.button-minimal:active {
  outline: none;
}
.button-minimal {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.button-minimal:hover {
  border-color: #fff;
  background: #fff;
  color: #41535d;
  text-decoration: none;
}
u,
.underline {
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
big,
.highlight {
  font-size: 1.2em;
  color: #7e7e7e;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
.container {
  width: 1170px;
  max-width: 91.40625%;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  background: #fff;
}
.content {
  width: 65%;
}
.content.center {
  margin-left: auto;
  margin-right: auto;
}
.sidebar-left .content {
  float: right;
}
.sidebar-left .sidebar {
  float: left;
}
.sidebar-right .content {
  float: left;
}
.sidebar-right .sidebar {
  float: right;
}
.no-sidebar .content,
.page-template-wide .content,
.page-template-download .content {
  width: 100%;
}
.thumb-circle img {
  border-radius: 50%;
  border: 7px solid #fff;
}
.thumb-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thumb-icon img {
  width: 140px;
  height: 140px;
}
/**
 * 6.0 - Header
 *
 * -----------------------------------------------------------------------------
 */
.header-top {
  background: #f0f0f0;
  color: #999;
  font-size: .8em;
  text-align: right;
  position: relative;
  height: 2rem;
  line-height: 2rem;
}
.header-top a {
  color: #999;
}
.header-top:before {
  position: absolute;
  content: '';
  background-color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  width: 55%;
  -webkit-transform: skew(45deg);
      -ms-transform: skew(45deg);
          transform: skew(45deg);
  margin-left: -15px;
}
/**
 * Brand
 * -----------------------------------------------------------------------------
 */
.brand {
  text-transform: uppercase;
  color: #41535d;
  height: 96px;
}
.brand:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.brand img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-height: 66px;
  max-width: none;
  margin-right: 15px;
}
.brand_title,
.brand_tagline {
  display: block;
  line-height: 1;
}
.brand_title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8rem;
  padding: 5px 0 15px;
}
.brand_tagline {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: #888;
  text-transform: none;
}
/**
 * Hero image and slider
 * -----------------------------------------------------------------------------
 */
.hero {
  position: relative;
  z-index: 2;
  color: #fff;
  /* Custom styles */
  /* Form */
}
.hero h1,
.hero h2,
.hero p {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px 0;
  color: #fff;
}
.hero h1 {
  font-size: 4em;
}
.hero .subheading {
  background: rgba(0, 0, 0, 0.2);
  color: #ddd;
  font-size: 1rem;
  display: inline-block;
  border-radius: 3px;
  padding: 10px 15px;
  float: left;
  clear: left;
}
.hero .block {
  background: #fff;
  color: #41535d;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  float: left;
  clear: left;
}
.hero .block + p {
  clear: left;
}
.hero h1.block {
  font-size: 3em;
  padding-right: 0;
  padding-left: 0;
}
.hero p.block {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
.hero .center {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
}
.hero h1.center {
  margin-top: 5%;
}
.hero form {
  background: #fff;
  padding: 15px;
  color: #41535d;
  font-size: .9rem;
}
.hero form br {
  display: none;
}
.hero form textarea {
  height: 8em;
}
.hero input[type="text"],
.hero input[type="email"],
.hero textarea,
.hero select {
  background: #ddd;
  width: 100% !important;
  max-width: none !important;
  box-sizing: border-box;
}
.hero input[type="text"]:focus,
.hero input[type="email"]:focus,
.hero textarea:focus,
.hero select:focus {
  background: #e6e6e6;
}
.hero.entry-header {
  background: url('http://i.imgur.com/XOkucw0.jpg') no-repeat fixed center center;
  min-height: 200px;
  background-size: cover;
  position: relative;
  padding-top: 5%;
  margin-bottom: 5%;
}
.hero.entry-header .entry-title {
  color: #fff;
}
.hero.entry-header h3 {
  color: rgba(255, 255, 255, 0.4);
  font: 300 1rem Lato, sans-serif;
  line-height: 1.5;
  margin-bottom: 40px;
  text-transform: none;
}
.hero.entry-header form {
  background: none;
  padding: inherit;
  font-size: inherit;
}
/**
 * Slider
 * -----------------------------------------------------------------------------
 */
.slide img {
  display: block;
  width: 100%;
}
.slide__content {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 20%;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
}
.owl-prev:hover,
.owl-next:hover {
  color: #ccc;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
/**
 * Header widgets
 * -----------------------------------------------------------------------------
 */
.header-widgets {
  margin-top: 25px;
}
.header-widgets .widget {
  float: left;
  margin-left: 40px;
  margin-bottom: 0;
}
.header-widgets .widget:first-child {
  margin-left: 0;
}
/**
 * Contact info widget
 *---------------------------------------------------------------------------
 */
.contact-info__icon {
  width: 1em;
  height: 1em;
  text-align: right;
  line-height: 1em;
  color: #41535d;
  margin-left: 30px;
}
.contact-info__text {
  border-left: 1px solid rgba(65, 83, 93, 0.3);
  padding-left: 8px;
  margin-left: 8px;
  text-align: left;
}
.contact-info__title {
  font-weight: bold;
  display: block;
}
/**
 * Breadcrumbs
 *------------------------------------------------------------------------
 */
.breadcrumbs {
  text-transform: uppercase;
  text-align: left;
  font: 0.8em 'Open Sans Condensed', sans-serif;
  display: block;
}
.breadcrumbs span {
  display: inline-block;
  padding-right: 2px;
}
.breadcrumbs a {
  color: #fff;
  transition: all 0.3s;
}
.breadcrumbs a:hover span {
  text-decoration: underline;
}
/**
 * 7.0 - Topbar
 *
 * -----------------------------------------------------------------------------
 */
.topbar {
  color: #999;
  font-size: 0.7rem;
  min-height: 2.5rem;
  border-bottom: 1px solid #f0f0f0;
}
.topbar a {
  color: #999;
}
.topbar .textwidget,
.topbar a {
  line-height: 2.5rem;
}
.topbar .widget {
  overflow: inherit;
}
.topbar .menu li {
  position: relative;
}
.topbar .menu li .sub-menu {
  min-width: 150px;
  padding: 0;
  background: #fff;
  border-radius: 0;
  position: absolute;
  left: -1px;
  top: 110%;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: all .2s;
  margin: -1px 0 0;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.topbar .menu li .sub-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.topbar .menu li .sub-menu li:last-child {
  border-bottom: none;
}
.topbar .menu li .sub-menu li a {
  color: #999;
}
.topbar .menu li .sub-menu li:hover a {
  color: #131313;
}
.topbar .menu li .sub-menu > li:first-child {
  margin-top: 0;
}
.topbar .menu li a {
  text-decoration: none;
  display: block;
}
.topbar .menu li:hover a,
.topbar .menu li:active a,
.topbar .menu li:focus a {
  color: #131313;
}
.topbar .menu li:hover > ul,
.topbar .menu li:active > ul,
.topbar .menu li:focus > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.topbar .menu > li {
  border-top: 0;
  padding: 0 15px;
  float: left;
  position: relative;
  display: block;
}
.topbar .menu > li.menu-item-has-children > a::after,
.topbar .menu > li.page_item_has_children > a::after {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-top-color: #999;
  position: absolute;
  z-index: 1001;
  right: 5px;
  top: 50%;
  margin-top: -2px;
}
.topbar .menu > li.menu-item-has-children > a:hover::after,
.topbar .menu > li.page_item_has_children > a:hover::after,
.topbar .menu > li.menu-item-has-children > a:hover::after,
.topbar .menu > li.page_item_has_children > a:hover::after {
  border-top-color: #999;
}
.social-links:before,
.social-links:after {
  content: " ";
  display: table;
}
.social-links:after {
  clear: both;
}
.social-links,
.social-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-links li {
  display: inline-block;
}
.social-links li a {
  font: normal normal normal 2em/1 Entypo;
  display: inline-block;
  text-align: center;
  transition: color .5s;
  text-decoration: none;
}
.social-links li a span {
  display: none;
}
.social-links li a:before {
  line-height: 2rem;
}
.social-links li a:hover,
.social-links li a:active {
  text-decoration: none;
}
.topbar .social-links {
  text-align: right;
}
.topbar .social-links li {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.topbar .social-links li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/**
 * 8.0 - Menu
 *
 * -----------------------------------------------------------------------------
 */
.navbar {
  clear: both;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  margin-bottom: -37.5px;
  z-index: 9;
  position: relative;
}
.main-menu a {
  display: block;
  padding: 30px;
}
.main-menu > ul > li {
  display: inline-block;
}
.main-menu > ul > li:hover > a,
.main-menu > ul > li.current-menu-item > a,
.main-menu > ul > li.current-menu-ancestor > a {
  color: #000;
}
.main-menu > ul > li.menu-item-has-children > a::after,
.main-menu > ul > li.page_item_has_children > a::after {
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #41535d;
  position: absolute;
  z-index: 1001;
  right: 17px;
  top: 50%;
  margin-top: -2px;
}
.main-menu > ul > li.menu-item-has-children > a:hover::after,
.main-menu > ul > li.page_item_has_children > a:hover::after,
.main-menu > ul > li.menu-item-has-children > a:hover::after,
.main-menu > ul > li.page_item_has_children > a:hover::after {
  border-top-color: #000;
}
.main-menu li {
  position: relative;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
}
.main-menu li.menu-item-has-children > a,
.main-menu li.page_item_has_children > a {
  padding-right: 35px;
}
.main-menu li ul {
  position: absolute;
  left: 0;
  top: 90%;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: all .2s;
  margin: -3px 0 0;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
  border-top: 3px solid #41535d;
}
.main-menu li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.main-menu li ul ul {
  left: 100%;
  top: 50%;
}
.main-menu li ul li:hover > ul {
  top: 0;
  left: 100%;
}
.main-menu li li {
  width: 200px;
  font-size: .8rem;
  background: #fff;
  line-height: 1.3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-menu li li:last-child {
  border-bottom: none;
}
.main-menu li li:hover > a,
.main-menu li li.current-menu-item > a,
.main-menu li li.current-menu-ancestor > a {
  color: #333;
}
.main-menu li li.menu-item-has-children > a::after,
.main-menu li li.page_item_has_children > a::after {
  content: "";
  display: block;
  border: 5px solid transparent;
  border-left-color: #41535d;
  position: absolute;
  z-index: 1001;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
.main-menu li li.menu-item-has-children > a:hover::after,
.main-menu li li.page_item_has_children > a:hover::after {
  border-left-color: #333;
}
.main-menu li li a {
  padding: 1em 1.3em;
  color: #41535d;
}
.main-menu li li a:hover {
  background: #f6f6f6;
}
.menu-toggle {
  position: absolute;
  display: none;
  height: 96px;
  padding: 0;
  top: 0;
  right: 0;
  border: 0;
  background: transparent;
}
.menu-toggle:active,
.menu-toggle:focus,
.menu-toggle:hover {
  border: 0;
  background: transparent;
}
.menu-toggle .icon {
  background: #2f5d76;
  border-radius: 5px;
  padding: 5px;
}
.menu-toggle span {
  display: none;
}
.mobile-menu {
  width: 240px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  background: #282828;
}
.mobile-menu a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  background: #282828;
}
.mobile-menu a:hover,
.mobile-menu .current-menu-item > a {
  color: #fff;
}
.mobile-menu ul ul a {
  padding-left: 40px;
  font-size: 12px;
  background: #303030;
}
.mobile-menu ul ul ul a {
  padding-left: 60px;
  font-size: 11px;
  background: #363636;
}
.mobile-menu ul ul ul ul a {
  padding-left: 60px;
  font-size: 10px;
  background: #424242;
}
.admin-bar .mobile-menu {
  top: 32px;
}
@media (max-width: 782px) {
  .admin-bar .mobile-menu {
    top: 46px;
  }
}
@media (max-width: 600px) {
  .admin-bar .mobile-menu {
    top: 0;
  }
}
.mobile-menu-open .wrapper {
  -webkit-transform: translate3d(-240px, 0, 0);
          transform: translate3d(-240px, 0, 0);
  cursor: pointer;
}
/**
 * 9.0 - Entry
 *
 * Style for post, page (entry)
 *
 * -----------------------------------------------------------------------------
 */
.hentry {
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 10%;
  border-radius: 4px 4px 0 0;
}
.hentry:last-child {
  margin-bottom: 0;
}
.entry-text {
  padding: 8% 10%;
}
.entry-media + .entry-text {
  padding-top: 6%;
}
.entry-header {
  padding-bottom: 4%;
}
.entry-title {
  margin: 0;
}
.entry-meta {
  color: #999;
  text-align: left;
}
.entry-date {
  text-align: left;
}
.header .entry-meta {
  font-size: .85em;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
.header .entry-meta.no-avatar {
  margin-top: 10px;
}
.header .entry-meta img {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}
.header .entry-meta a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}
.header .entry-date {
  display: inline-block;
}
.header .comments-link {
  margin-left: 5px;
}
.entry-content a:hover,
.widget a:hover {
  text-decoration: underline;
}
.entry-content p:first-child,
.entry-summary p:first-child {
  margin-top: 0;
}
.entry-content p:last-child,
.entry-summary p:last-child {
  margin-bottom: 0;
}
.more-link {
  font-weight: bold;
}
.more-link:hover {
  text-decoration: underline;
}
.entry-content hr {
  width: 50%;
  height: 4px;
  background: #eee;
  margin: 2em auto;
  border: 0;
}
.wp-caption {
  max-width: 100%;
}
.wp-caption a,
.wp-caption img {
  display: block;
}
.alignleft,
.alignright {
  margin-bottom: 1.2em;
  max-width: 40%;
}
.wp-caption .alignleft,
.wp-caption .alignright {
  margin-bottom: 0;
}
.alignleft {
  float: left;
  margin-right: 1em;
}
.alignright {
  float: right;
  margin-left: 1em;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.wp-caption-text,
.gallery-caption {
  font-size: .8em;
  color: #888;
  text-align: center;
}
.gallery-caption {
  font-size: .8em;
}
.format-aside .entry-content {
  padding: 8% 10%;
}
.format-quote .entry-content {
  background: #262626;
  border-radius: 4px;
  padding: 8% 10%;
}
.format-quote blockquote {
  background: none;
  color: #fff;
  padding: 0;
  font-size: 1.25em;
  margin-bottom: 0;
  text-align: center;
  border: 0;
}
.format-quote a {
  color: rgba(255, 255, 255, 0.75);
}
body.single .content > article,
body.page .content > article {
  background: transparent;
  box-shadow: none;
}
body.single .content > article .entry-content,
body.page .content > article .entry-content {
  padding: 0;
}
body.single .content > article.format-quote .entry-content,
body.page .content > article.format-quote .entry-content {
  padding: 8% 10%;
}
body.single .hero.entry-header h1,
body.page .hero.entry-header h1 {
  text-transform: uppercase;
}
body.single .entry-content > p:first-child,
body.page .entry-content > p:first-child {
  font-size: 1.2em;
  color: #7e7e7e;
  line-height: 1.4;
  margin-bottom: 2em;
}
body.single .entry-title,
body.page .entry-title {
  text-align: left;
  text-transform: none;
}
body.single .format-aside .entry-content,
body.page .format-aside .entry-content {
  padding-top: 0;
}
.entry-media {
  position: relative;
}
.entry-media img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.entry-media iframe {
  display: block;
  border: none;
  width: 100%;
  height: auto;
}
.entry-media .sticky-post {
  position: absolute;
  top: 5%;
  right: 0;
  padding: 8px 10px;
  border-radius: 3px 0 0 3px;
  background: #1abc9c;
  color: #fff;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
}
.entry-media:before,
.entry-media:after {
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
}
.entry-media:before {
  width: 30px;
  height: 1px;
  margin-left: -15px;
}
.entry-media:after {
  width: 1px;
  height: 30px;
  margin-top: -15px;
}
.entry-media:hover:before,
.entry-media:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.entry-media a {
  position: relative;
  display: block;
}
.entry-media a:before {
  transition: opacity 0.3s;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: #000;
}
.entry-media a:hover:before {
  opacity: 0.4;
}
.entry-media.rotate a:before {
  border-radius: 50%;
}
.media-caption-container {
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  bottom: 1.5em;
  text-align: center;
  font-size: .85em;
}
.media-caption {
  display: inline-block;
  padding: 7px 11px;
  border-radius: 3px;
  background: #262626;
  background: rgba(38, 38, 38, 0.75);
  color: #fff;
  text-align: center;
  line-height: 130%;
}
.media-caption:hover {
  background: #262626;
  color: #fff;
}
.entry-footer {
  margin-top: 5%;
}
/**
 * 10.0 - Comments
 *
 * -----------------------------------------------------------------------------
 */
.comments {
  margin-top: 5%;
  font-size: .9em;
}
li.comment,
li > div.comment {
  margin-bottom: 25px;
  position: relative;
}
li > div.comment {
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.commentlist,
.commentlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.commentlist > li:first-child > div.comment:first-child {
  border-top: 1px solid #eee;
  padding-top: 25px;
}
.comment .children {
  padding-left: 70px;
}
.comment .children li:last-child {
  margin-bottom: 0;
}
.commentlist > li.comment:last-child,
.commentlist > li.comment div.comment:last-child {
  margin-bottom: 0;
}
/* Pingback list --------------------------------------- */
.comments .pingbacks {
  margin-top: 5.5%;
}
.pingbacks-inner {
  margin: 0 auto;
}
.pingbacks-title {
  margin-bottom: 20px;
}
.pingbacklist li {
  padding: .5em;
  line-height: 130%;
}
.pingbacklist a:hover {
  text-decoration: underline;
}
.pingbacklist li:nth-child(odd) {
  background: #f9f9f9;
}
.pingbacklist .comment-edit-link {
  color: #999;
}
.pingbacklist .comment-edit-link:hover {
  color: #444;
  text-decoration: none;
}
/* Comment meta --------------------------------------- */
.comment-meta {
  margin-bottom: 1em;
}
.comment-meta .avatar {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 999px;
  float: left;
}
.comment-actions {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.comment-actions a {
  margin-left: 8px;
}
.comment-actions a:first-child {
  margin-left: 0;
}
.comment-meta-content {
  margin-left: 70px;
  padding-top: 5px;
}
.comment-meta-content cite {
  font-size: 1.075em;
  color: #444;
  display: block;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
}
.comment-meta-content p {
  font-size: .65em;
  text-transform: uppercase;
  margin: 0;
}
.comment-meta-content p a {
  color: #bbb;
}
.bypostauthor .post-author {
  font-weight: 400;
  color: #999;
  margin-left: 3px;
  letter-spacing: 0;
}
.comment-awaiting-moderation {
  position: absolute;
  right: 0;
  top: 4px;
  font-weight: bold;
  display: block;
  padding: 10px;
  background: #ccc;
  border-radius: 3px;
  font-size: .8rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.comment-content {
  margin-left: 70px;
}
#respond {
  margin-top: 10%;
}
.nocomments {
  margin-top: 10%;
  color: #666;
  text-align: center;
}
#cancel-comment-reply-link {
  margin-left: 10px;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.comment-form .submit {
  padding: 1.2em 1.4em;
}
.commentlist .comment-respond {
  padding-bottom: 1.5em;
}
@media (max-width: 479px) {
  .comment-author .avatar {
    display: none;
  }
  .comment-meta-content,
  .comment-content {
    margin: 0;
    padding: 0;
  }
  .comment .children {
    padding-left: 30px;
  }
}
/**
 * 11.0 - Pagination
 *
 * -----------------------------------------------------------------------------
 */
.navigation {
  margin-top: 1em;
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
  padding: 1em 0;
  overflow: hidden;
  clear: both;
}
.navigation a {
  display: block;
  color: #666;
}
.navigation a .post-title {
  transition: color .2s;
  font-weight: 700;
}
.navigation a:hover .post-title {
  color: #41535d;
}
.navigation .meta-nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .7em;
  color: #999;
  margin-bottom: 7px;
  font-weight: 700;
  display: block;
}
.navigation .nav-previous {
  float: left;
  max-width: 49%;
}
.navigation .nav-next {
  float: right;
  text-align: right;
  max-width: 49%;
}
.comment-navigation {
  margin-top: 5%;
  border-top: 4px solid #eee;
  padding-top: 5%;
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.comment-navigation a {
  display: inline-block;
}
.page-title {
  margin-bottom: 7.5%;
  text-align: center;
}
.page-title h4 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1px;
  font-weight: 700;
  color: #999;
  padding-bottom: 5px;
  border-bottom: 2px solid #eee;
}
.pagination a,
.pagination span {
  display: inline-block;
  background: #262626;
  padding: 10px 18px;
  color: #fff;
  font-size: .85em;
  border-radius: 4px;
  transition: all .3s;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pagination .current,
.pagination a:hover {
  background: #E67E22;
  color: #fff;
}
/**
 * 12.0 - Social Buttons
 *
 * -----------------------------------------------------------------------------
 */
.social-buttons {
  display: block;
}
.social-buttons a {
  display: inline-block;
  margin-right: 8px;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.3s;
  color: #fff;
}
.social-buttons i {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.social-buttons .facebook {
  background: #3b5998;
}
.social-buttons .facebook:hover {
  background: #2d4373;
}
.social-buttons .twitter {
  background: #55acee;
}
.social-buttons .twitter:hover {
  background: #2795e9;
}
.social-buttons .googleplus {
  background: #dd4b39;
}
.social-buttons .googleplus:hover {
  background: #c23321;
}
/**
 * 13.0 - Sidebar
 *
 * -----------------------------------------------------------------------------
 */
.sidebar {
  width: 30%;
  font-size: .9em;
}
.widget {
  margin-bottom: 20%;
  line-height: 1.4;
  overflow: hidden;
}
.widget *:last-child {
  margin-bottom: 0;
}
.widget a:hover {
  text-decoration: underline;
}
.widget p {
  line-height: 1.5;
  margin-bottom: 1em;
}
.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget li {
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
}
.widget li ul > li:first-child {
  margin-top: 10px;
}
.widget .page_item_has_children {
  padding-bottom: 0;
}
.widget li li {
  padding-left: 15px;
}
.widget li .post-date {
  margin-left: 5px;
  color: #999;
}
.widget > ul > li:first-child {
  border-top: 0;
}
.widget:last-child {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.widget-title {
  text-transform: uppercase;
}
.searchform {
  position: relative;
  padding-bottom: 1px;
}
#s {
  padding: 1em 8em 1em 1.5em;
  background: #fff;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 3px;
  color: #444;
  width: 100%;
  box-sizing: border-box;
}
#s:focus {
  background: #eee;
}
#searchsubmit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
}
#wp-calendar caption,
#wp-calendar td,
#wp-calendar th {
  text-align: center;
  padding: 4% 2%;
}
#wp-calendar tr {
  background: none;
}
#wp-calendar #prev {
  text-align: left;
}
#wp-calendar #next {
  text-align: right;
}
#wp-calendar tfoot a {
  display: block;
}
/* Widget tag cloud --------------------------------------- */
.post-tags a,
.tagcloud a {
  position: relative;
  font-size: .81rem !important;
  color: #fff;
  display: inline-block;
  padding: 8px 11px;
  line-height: 1;
  margin-bottom: 5px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: background .3s;
}
.post-tags a:hover,
.tagcloud a:hover {
  background: #E67E22;
  color: #fff;
  text-decoration: none;
}
/* Widget Flickr --------------------------------------- */
.flickr_badge_image {
  width: 32%;
  margin-bottom: 2%;
  margin-left: 2%;
  overflow: hidden;
  float: left;
  line-height: 0;
}
#flickr_badge_image1,
#flickr_badge_image4,
#flickr_badge_image7,
#flickr_badge_image10,
#flickr_badge_image13,
#flickr_badge_image16,
#flickr_badge_image19,
#flickr_badge_image22,
#flickr_badge_image25 {
  margin-left: 0;
}
.flickr_badge_image img {
  display: block;
  height: 70px;
}
.widgetmore a {
  display: block;
  clear: both;
  padding: .5em 0;
}
.footer .flickr_badge_image img {
  height: 50px;
}
/* Widget Dribbble --------------------------------------- */
.dribbble-shot {
  display: block;
  width: 48%;
  margin-bottom: 2%;
  margin-right: 2%;
  overflow: hidden;
  float: left;
  line-height: 0;
}
.dribbble-shot:nth-child(2n) {
  margin-right: 0;
}
.dribbble-shot img {
  display: block;
}
/* Widget Posts --------------------------------------- */
.induspress_posts_widget .entry-text {
  padding: 0;
  width: 100%;
}
.induspress_posts_widget li {
  overflow: hidden;
  padding: 15px 0;
}
.induspress_posts_widget .has-thumbnail .entry-media {
  padding: 0;
  width: 64px;
  margin-right: 10px;
}
.induspress_posts_widget .has-thumbnail .entry-media img {
  display: block;
  border-radius: 2px;
  width: 64px;
  height: 50px;
}
.induspress_posts_widget .has-thumbnail .entry-text {
  padding: 0;
  font-size: 0.8rem;
  width: auto;
  float: none;
  display: inline-block;
}
.induspress_posts_widget .has-thumbnail .entry-text .entry-title {
  margin: 2px 0 7px 0;
}
.induspress_posts_widget .has-thumbnail .entry-text .entry-date {
  text-transform: none;
}
.induspress_video_widget iframe {
  width: 100%;
  min-height: 250px;
  height: auto;
}
/**
 * 14.0 - Footer
 *
 * -----------------------------------------------------------------------------
 */
.footer {
  font-size: .9rem;
  margin-top: 7.5%;
  color: rgba(255, 255, 255, 0.6);
  background: #222b30;
  /**
	 * Social links
	 * -----------------------------------------------------------------------------
	 */
  /**
	 * Form elements
	 * -----------------------------------------------------------------------------
	 */
}
.footer .widget {
  margin-bottom: 0;
}
.footer .widget-title {
  color: rgba(255, 255, 255, 0.8);
}
.footer li {
  border: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer li:before {
  content: "\e92a";
  font: .7em Entypo;
  margin-right: 6px;
  color: rgba(255, 255, 255, 0.4);
}
.footer li li:first-child {
  margin: 0;
}
.footer a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}
.footer .tagcloud a {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer tr {
  border-color: rgba(255, 255, 255, 0.1);
}
.footer address br {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  content: '';
  margin: 5px 0;
}
.footer .icon {
  vertical-align: middle;
}
.footer .social-links li {
  border: 0;
}
.footer .social-links li:before {
  display: none;
}
.footer .social-links a {
  color: rgba(255, 255, 255, 0.4);
}
.footer .social-links a:hover {
  color: #fff;
}
.footer input,
.footer textarea,
.footer select {
  background: rgba(255, 255, 255, 0.1);
}
.footer input:hover,
.footer textarea:hover,
.footer select:hover,
.footer input:focus,
.footer textarea:focus,
.footer select:focus {
  background: rgba(255, 255, 255, 0.2);
}
.footer button,
.footer input[type="submit"],
.footer .button {
  padding: .7em 1em;
  background: rgba(255, 255, 255, 0.1);
}
.footer button:hover,
.footer input[type="submit"]:hover,
.footer .button:hover,
.footer button:focus,
.footer input[type="submit"]:focus,
.footer .button:focus {
  background: rgba(255, 255, 255, 0.2);
}
.footer .widget textarea {
  height: 6em;
}
.footer .widget label {
  font-size: .9em;
}
/**
 * Footer widgets
 * -----------------------------------------------------------------------------
 */
.footer-widgets {
  padding: 3.5em 0;
}
/**
 * Credit text
 * -----------------------------------------------------------------------------
 */
.credits {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.5em 0;
}
/**
 * 16.0 - Classic layout
 *
 * Style for classic layout of archive pages with thumbnail left and text right
 *
 * -----------------------------------------------------------------------------
 */
.thumb-text article {
  overflow: hidden;
  border-radius: 0;
  background: none;
  box-shadow: none;
  position: relative;
}
.thumb-text article .entry-media,
.thumb-text article .entry-text {
  width: 48%;
}
.thumb-text .entry-media {
  background: #ccc;
  float: left;
  height: auto;
  display: block;
}
.thumb-text .entry-media img {
  border-radius: 0;
  max-height: 270px;
}
.thumb-text .entry-text {
  float: right;
  padding: 0;
}
.thumb-text .entry-meta {
  padding-bottom: 10px;
}
.thumb-text .entry-title {
  font-size: 1.333em;
}
.thumb-text .entry-content {
  font-size: .9em;
}
.thumb-text .more-link {
  text-align: right;
}
/**
 * 20.0 - Front page
 *
 * -----------------------------------------------------------------------------
 */
.section {
  margin-bottom: 5%;
}
.section h2 {
  font-size: 3.5em;
  text-align: center;
  display: inherit;
}
.section h2 span {
  font-size: 2rem;
  color: #E67E22;
}
.section h2 + p {
  text-align: center;
  font-size: 1.2em;
  color: #7e7e7e;
}
.section--dark {
  background-color: #2c383f;
  margin-top: 10%;
  color: rgba(255, 255, 255, 0.4);
}
.section--dark h2 + p {
  color: rgba(255, 255, 255, 0.4);
}
.section--dark h2,
.section--dark h3,
.section--dark a {
  color: #fff;
}
.section__content {
  margin-top: 3em;
}
.number {
  color: #E67E22;
}
.page-template-front-page .footer {
  margin-top: 0;
}
.page-template-front-page .hero h1,
.page-template-front-page .hero h2,
.page-template-front-page .hero p {
  max-width: 50%;
}
/**
 * Section services
 *---------------------------------------------------------------------------
 */
.services__items {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 433px;
  height: 433px;
  max-width: 100%;
}
.page-template-front-page .services__items {
  margin-top: 7em;
}
.services__item {
  width: 433px;
  max-width: 100%;
  position: absolute;
  top: 146.5px;
  left: 363px;
  -webkit-transform-origin: -146.5px center;
      -ms-transform-origin: -146.5px center;
          transform-origin: -146.5px center;
}
.services__item__content {
  width: 100%;
  height: 140px;
  -webkit-transform-origin: 70px 70px;
      -ms-transform-origin: 70px 70px;
          transform-origin: 70px 70px;
}
.services__item__image {
  width: 140px;
  height: 140px;
  border: 7px solid #fff;
  border-radius: 50%;
  float: left;
}
.services__item__description {
  float: right;
  width: 283px;
  max-width: 100%;
}
.services__item__description h3 {
  margin: 10px 0;
}
.services__item__description p {
  margin: 0;
}
.services__item--right {
  left: -363px;
  -webkit-transform-origin: 579.5px center;
      -ms-transform-origin: 579.5px center;
          transform-origin: 579.5px center;
}
.services__item--right .services__item__image {
  float: right;
}
.services__item--right .services__item__description {
  float: left;
  text-align: right;
}
.services__item--right .services__item__content {
  -webkit-transform-origin: 363px 70px;
      -ms-transform-origin: 363px 70px;
          transform-origin: 363px 70px;
}
.services__item--1 {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.services__item--1 .services__item__content {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.services__item--3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.services__item--3 .services__item__content {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.services__item--4 {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.services__item--4 .services__item__content {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.services__item--6 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.services__item--6 .services__item__content {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
/**
 * Section welcome
 *---------------------------------------------------------------------------
 */
.welcome {
  padding-top: 1%;
}
.welcome .button-minimal {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.4);
}
.welcome .button-minimal:hover {
  border-color: #fff;
  background: #fff;
  color: #41535d;
  text-decoration: none;
}
/**
 * Section content
 *---------------------------------------------------------------------------
 */
/*.page-template-front-page .section.content {*/
  /*margin-top: -60px;*/
/*}*/
#hero-slider {
    border-bottom: 1px solid grey;
}
/*.section.content {*/
  /*height: 1px;*/
  /*background: rgba(0, 0, 0, 0.6);*/
  /*!*padding: 30px 0;*!*/
  /*color: rgba(255, 255, 255, 0.6);*/
  /*position: relative;*/
  /*z-index: 9;*/
  /*width: 100%;*/
/*}*/
.section.content h2,
.section.content h3 {
  color: #fff;
  font-size: 1.3333em;
  text-align: left;
  line-height: 54px;
  margin: 0;
  float: left;
}
.section.content p {
  margin: 0;
}
.section.content .button,
.section.content .button-minimal {
  font-size: 1rem;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 1em;
  float: right;
}
/**
 * Section product
 *---------------------------------------------------------------------------
 */
.products a,
.products img {
  display: block;
}
/**
 * Section call to action
 *---------------------------------------------------------------------------
 */
.call-to-action {
  padding: 3% 0;
  line-height: 2.72;
}
.call-to-action h3 {
  margin: 0;
  display: inline;
  line-height: 1.53006694;
}
/**
 * Section news
 *---------------------------------------------------------------------------
 */
.news__thumb {
  display: block;
}
.news__thumb img {
  display: block;
  width: 100%;
  max-height: 200px;
}
.news__arrow {
  opacity: 0;
  position: relative;
  left: -15px;
  transition: all .3s;
}
.news h3:hover .news__arrow {
  opacity: 1;
  left: 5px;
}
.news__item {
  margin-bottom: 2em;
}
.news__item .entry-media {
  width: 80px;
  height: 80px;
}
.news__item .entry-media img {
  width: 80px;
  height: 80px;
  border-radius: 2px;
}
.news__item .entry-text {
  padding: 0;
  margin-left: 90px;
}
.news__item .entry-text h4 {
  margin: 5px 0 10px;
}
.news__item .entry-text p {
  line-height: 1.2;
  margin: 0;
}
/**
 * Section projects
 *---------------------------------------------------------------------------
 */
.projects {
  padding: 1% 0 5%;
}
.projects .grid .column {
  margin-bottom: 4%;
  padding-left: 1%;
  padding-right: 1%;
}
.projects .entry-media {
  min-height: 175px;
}
.projects h3 {
  font-size: 1.333em;
}
.projects h3 a {
  color: #ccc;
}
.projects .entry-text .entry-content p:first-child {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 0 1em;
}
.projects .projects__location,
.projects .projects__price {
  margin: 0;
}
.projects .icon {
  padding-right: 5px;
}
/**
 * Section clients
 *---------------------------------------------------------------------------
 */
.page-template-front-page .clients .container {
  overflow: hidden;
}
/**
 * Custom styles for services
 *
 * -----------------------------------------------------------------------------
 */
.services-1 {
  background-color: #1f2d3a;
  color: #90a3b5;
  padding: 5% 50%;
  text-align: center;
  margin: 5% -50%;
}
.services-1 h3,
.services-2 h3 {
  color: #fff;
}
.services-1 img,
.services-2 img {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.services-2 {
  margin: 5% 0;
  text-align: center;
}
.services-2 .column {
  background-color: #1f2d3a;
  color: #90a3b5;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 2.5%;
  margin-bottom: 0;
  transition: all 1s ease .2s;
}
.services-2 .column:hover {
  -webkit-transform: scale(1.12);
      -ms-transform: scale(1.12);
          transform: scale(1.12);
  z-index: 1000;
  background: #08c;
  color: #fff;
  border: 0;
}
.services-3 {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: #1f2d3a;
  color: #90a3b5;
}
.services-3 h2 {
  color: #fff;
  margin-top: 0;
}
.downloads p {
  margin: 0;
}
.downloads img {
  max-height: 141px;
}
.downloads .hentry {
  box-shadow: none;
}
.download {
  background: #90a3b5;
  color: #fff;
  display: inline-block;
  margin-top: 1%;
  padding-right: 5px;
  transition: all 0.3s;
}
.download .icon {
  background: #1f2d3a;
  padding: 10px;
  display: inline-block;
  color: #fff;
  margin-right: 5px;
  transition: all 0.3s;
  border: 1px solid #1f2d3a;
}
.download .icon.icon_small {
  padding: 7px;
}
.download:hover {
  color: rgba(204, 204, 204, 0.64);
  text-decoration: none;
}
.download:hover .icon {
  background: #4c4c4c;
  border: 1px solid #4c4c4c;
}
.download__item .entry-text {
  padding: 0;
  margin-left: 115px;
}
.download__item .entry-text h4 {
  margin: 0 0 4px;
}
.download__item_small {
  margin: 5% 0 0;
}
.download__item_small img {
  width: 80px;
  max-height: 95px;
}
.download__item_small .entry-text {
  margin-left: 90px;
  font-size: 0.9rem;
  padding: 0;
}
.download__item_small .entry-text p {
  margin: 0;
}
.download__item_small .entry-text h5 {
  margin: 0 0 5px;
}
.accordion {
  overflow: hidden;
  box-sizing: border-box;
  background: #f7f7f7;
}
.accordion .accordion-section {
  margin-bottom: 0;
}
.accordion .accordion-section-title {
  width: 100%;
  padding: 15px;
  margin-top: 0;
  display: inline-block;
  background: #1f2d3a;
  transition: all linear 0.15s;
  font-size: 1.2em;
  color: #fff;
}
.accordion .accordion-section-title .icon {
  padding-right: 10px;
}
.accordion ul.download_list {
  padding: 10px;
  margin-top: 0px;
}
.accordion ul.download_list li {
  list-style: none;
  padding: 0;
  margin: 2% 0 5%;
  border-top: 0;
  border-bottom: 1px solid #1f2d3a;
}
.accordion ul.download_list .download {
  background: none;
  color: #131313;
}
.accordion ul.download_list span {
  font-size: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #41535d;
  text-transform: uppercase;
}
.wp-editor .download__item,
.wp-editor .download__item_small {
  margin-bottom: 5%;
}


.archive.category h2.entry-title{
  font-size: 18px;
  margin: 1.333em 0 .5em;
}

.archive.category .post.column:nth-child(3n+1) {
  clear: both;
}

.archive.category .entry-text {
  padding:0;
}

.archive.category .entry-content.clearfix {
  position: relative;
  text-align: justify;
}

.archive.category .hentry {
  margin-bottom: 5%;
}

article:hover .NewsItem-hover {
  display: block;
}

.NewsItem-hover {
  display: none;
  position: absolute;
  /*top: 100%;*/
  z-index: 3;
  padding: 10px 0;
  width: 100%;
  background-color: #27B6BE;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .15);
  cursor: pointer;
}
.NewsItem-hover a {
  color: #fff;
}
.NewsItem-hover::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 8px 7.5px;
  border-color: transparent transparent #27B6BE transparent;
}

/**
 * 19.0 - Responsive
 *
 * -----------------------------------------------------------------------------
 */
@media (max-width: 1199px) {
  /*.section.content {*/
    /*padding: 15px 0;*/
  /*}*/
  .section.content .button,
  .section.content .button-minimal {
    float: none;
    margin: 0 0 10px;
  }
  .section.content h3 {
    margin-bottom: 1em;
    float: none;
    text-align: center;
    line-height: 1.2;
  }
  .section.content p {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .footer .flickr_badge_image img {
    min-height: 50px;
  }
  .services__items {
    height: auto;
    margin-top: 3em;
    background: none !important;
  }
  .services__item,
  .services__item .services__item__content {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .services__item {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 1em;
  }
  .brand {
    width: 100%;
  }
  .brand.left,
  .brand .left {
    float: none;
  }
  .brand img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .header-widgets {
    margin-bottom: 25px;
    width: 100%;
    float: none;
    text-align: center;
  }
  .header-widgets .widget {
    float: none;
    display: inline-block;
    margin-left: 0;
  }
  .main-menu a {
    padding: 30px 10px;
  }
  .hero {
    font-size: 13px;
  }
  .hero h1,
  .hero h1.block {
    font-size: 2.369em;
  }
  
  .hero h1.block {
    margin-bottom: 0;
  }
  
  .hero h1,
  .hero h2,
  .hero p {
    max-width: none;
    padding: 0;
    margin-bottom: 10px;
  }
  .hero h1.center,
  .hero h2.center,
  .hero p.center {
    margin-bottom: 10px;
  }
  .hero .block,
  .hero .subheading {
    padding: 5px 10px;
  }
  
  .hero p.block {
    padding: 5px 0 0;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .owl-controls {
    display: none !important;
  }
}
@media (max-width: 769px) {
  .content,
  .sidebar {
    width: 100%;
    float: none;
  }
  .sidebar {
    margin-top: 40px;
  }
  .brand img,
  .header-widgets .widget,
  .contact-info__icon {
    margin-left: 0px;
  }
  .brand img {
    max-width: 100%;
    height: auto;
  }
  .header-widgets .widget {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
  }
  .header-widgets .widget:first-child {
    border-top: 1px solid #ccc;
  }
  .brand {
    border: 1px solid transparent;
  }
  .main-menu,
  .navbar {
    display: none;
  }
  .header .container {
    position: relative;
  }
  .menu-toggle {
    display: block;
  }
  .footer-widgets .column {
    margin-top: 10px;
    min-height: 200px;
  }
  .credits .left,
  .credits .right {
    float: none;
    max-width: 100%;
    text-align: center;
  }
  .hero {
    font-size: 11px;
  }
  .hero form {
    display: none;
  }
  .downloads .two-third,
  .downloads .one-third {
    width: 100%;
  }
  
  .hero h1,
  .hero h1.block {
    font-size: 1.8em;
  }
}

@media (max-width: 620px) {
  /*.hero p.block {
    display: none;
  }*/
  
  .hero .slide {
    padding-top: 35px;
  }
  
  .slide__content {
    top: 0;
  }
}

@media (max-width: 481px) {
  .thumb-text .entry-media,
  .thumb-text .entry-text {
    width: 100%;
    min-height: 70px;
  }
  .alignleft,
  .alignright {
    float: none;
    max-width: 100%;
    margin: 0 auto 1.2em auto;
  }
  .alignleft img,
  .alignright img {
    display: block;
    margin: 1em auto;
  }
  .footer-widgets div.column {
    margin-top: 40px;
    min-height: 0;
  }
  .footer .flickr_badge_image img {
    min-height: 60px;
  }
  .services__item .services__item__content,
  .services__item .services__item__image,
  .services__item .services__item__description {
    float: none;
    text-align: center;
  }
  .services__item__content {
    height: auto;
  }
  .services__item__description {
    width: 100%;
  }

  .brand img {
    max-width: 70%;
  }
  .menu-toggle .icon {
    font-size: 2em;
  }
  .downloads .entry-text,
  .downloads .download__item_small .entry-text {
    margin-left: 0;
  }
  .downloads img {
    display: none;
  }
  .downloads .download__item {
    padding-bottom: 5%;
    border-bottom: 1px solid #90a3b5;
  }
  
  .hero .button {
    padding: .75em 1em;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 435px) {
  
  .hero h1.block {
    margin-top: 0;  
  }
  
  .hero .slide {
    padding-top: 130px;
  }
}

@media screen and (max-width: 390px) {
  .page-template-front-page .hero h1,
  .page-template-front-page .hero p {
    max-width: 60%;
  }
}

@media screen and (max-width: 370px) {
  .hero h1,
  .hero h1.block {
    font-size: 1.65em;
  }
  
  .hero .button {
    padding: .5em .75em;
  }
}